/***
Page footer
***/

section#bottom {
    padding: 8px 20px 5px 20px;
    font-size: 12px;
    height: $page-footer-height;

    @include clearfix();

    footer.bottom {
        float: left;
        display: inline-block;
    }

    .section-bottom-fixed.section-bottom-fixed-mobile & {
        position: fixed;
        left: 0;
        right: 0;
        z-index: $zindex-footer-fixed;
        bottom: 0;
    }

    .section-bottom-fixed.section-bottom-fixed-mobile.sidebar-nav-fixed & {
        margin-left: 0 !important;
    }
}

@media (min-width: $screen-md-min) {  /* 992px */

    /* Default footer */
    section#bottom {
        clear: left;
    }

    /* Fixed footer */
    .section-bottom-fixed {
        section#bottom {
          position: fixed;
          left: 0;
          right: 0;
          z-index: $zindex-footer-fixed;
          bottom: 0;
        }
    }

    /* Footer with footer sidebar */
    .sidebar-nav-fixed {
        &.sidebar-nav-closed {
            section#bottom {
                margin-left: $sidebar-collapsed-width;
            }
        }

        &.section-bottom-fixed {
            section#bottom {
                margin-left: 0 !important;
            }
        }
    }

    /* Fixed Sidebar */
    .sidebar-nav-fixed {
        section#bottom {
            margin-left: $sidebar-width;
            padding: 8px 20px 5px 20px;
        }
    }

    /* Boxed page */
    .page-boxed {
        section#bottom {
            padding: 8px 0 5px 0;
        }

        &.sidebar-nav-fixed section#bottom {
            padding-right: 20px;
            padding-left: 20px;
        }
    }

    /* Page sidebar reversed */
    .sidebar-nav-reversed.sidebar-nav-fixed {
        section#bottom {
            margin-left: 0;
            margin-right: $sidebar-width;
            padding: 8px 20px 5px 20px;
        }

        &.section-bottom-fixed {
            section#bottom {
                margin-left: 0;
                margin-right: 0;
            }
        }

        &.sidebar-nav-closed {
            section#bottom {
                margin-right: $sidebar-collapsed-width;
            }
        }
    }
}

@media (max-width: $screen-sm-max) { /* 991px */

    /* Boxed Layout */
    .page-boxed {
        section#bottom {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}

@media (max-width: $screen-xs-max) { /* 767px */

    /* Default footer & boxed footer */
    section#bottom,
    .page-boxed section#bottom {
        padding-left: 10px;
        padding-right: 10px;
    }

    /* Fixed footer */
    .section-bottom-fixed {
        section#bottom {
            .container {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

/* Scroll Top Top */

.scroll-to-top {
    display: inline-block;
    padding: 1px;
    text-align:center;
    position:fixed;
    bottom: 10px;
    z-index: $zindex-go-to-top;
    display:none;
    right: 10px;

    > i {
        display: inline-block;
        color: darken(#94A0B2, 15%);
        font-size: 30px;
        @include opacity(0.6);
    }

    &:hover {
        cursor: pointer;

        > i {
            @include opacity(1);
        }
    }
}

@media (min-width: $screen-md-min) { /* 992px */
    .scroll-to-top {
        right: 20px;
    }
}

@media (max-width: $screen-sm-max) { /* 991px */
    .scroll-to-top {
        bottom: 10px;
        right: 10px;

        > i {
            font-size: 28px;
        }
    }
}
