
section#bottom {
    padding: 8px 20px 5px 20px;

    font-size: 12px;
    height: $page-footer-height;

    @include clearfix();

    footer.bottom {
        float: left;
        display: inline-block;
    }

    .section-bottom-fixed.section-bottom-fixed-mobile & {
        position: fixed;
        left: 0;
        right: 0;
        z-index: $zindex-footer-fixed;
        bottom: 0;
    }

    .section-bottom-fixed.section-bottom-fixed-mobile.sidebar-nav-fixed & {
        margin-left: 0 !important;
    }
}

@media (min-width: $screen-md-min) {
    section#bottom {
        clear: left;
    }

    .section-bottom-fixed {
        section#bottom {
          position: fixed;
          left: 0;
          right: 0;
          z-index: $zindex-footer-fixed;
          bottom: 0;
        }
    }

    .sidebar-nav-fixed {
        &.sidebar-nav-closed {
            section#bottom {
                margin-left: $sidebar-collapsed-width;
            }
        }

        &.section-bottom-fixed {
            section#bottom {
                margin-left: 0 !important;
            }
        }

        section#bottom {
            margin-left: $sidebar-width;
            padding: 8px 20px 5px 20px;
        }
    }

    .page-boxed {
        section#bottom {
            padding: 8px 0 5px 0;
        }

        &.sidebar-nav-fixed section#bottom {
            padding-right: 20px;
            padding-left: 20px;
        }
    }

    .sidebar-nav-reversed.sidebar-nav-fixed {
        section#bottom {
            margin-left: 0;
            margin-right: $sidebar-width;
            padding: 8px 20px 5px 20px;
        }

        &.section-bottom-fixed {
            section#bottom {
                margin-left: 0;
                margin-right: 0;
            }
        }

        &.sidebar-nav-closed {
            section#bottom {
                margin-right: $sidebar-collapsed-width;
            }
        }
    }
}

@media (max-width: $screen-sm-max) {
    .page-boxed {
        section#bottom {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}

@media (max-width: $screen-xs-max) {
    section#bottom,
    .page-boxed section#bottom {
        padding-left: 10px;
        padding-right: 10px;
    }

    .section-bottom-fixed {
        section#bottom {
            .container {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}
