/***
Page Header
***/

section#top.navbar {
    width: 100%;
    padding: 0 20px 0 20px;
    margin: 0;
    border: 0px;
    padding: 0px;
    box-shadow: none;
    height: $header-height;
    min-height: $header-height;
    filter: none;
    background-image: none;

    /* Fixed header */
    &.navbar-fixed-top {
        z-index: $zindex-header-fixed;
    }

    &.navbar-static-top {
        z-index: $zindex-header-static;
    }

    /* Header logo */
    .page-logo {
        float: left;
        display: block;
        width: $sidebar-logo-container-width;
        height: $header-height;
        padding-left: 20px;
        padding-right: 20px;

        .sidebar-nav-closed.sidebar-nav-closed-hide-logo & {
            padding: 0;
        }

        > .logo-image,
        > a {
            display: inline-block;
            float: left;
        }

        .logo-default {
            margin: $header-logo-margin;
        }

        .logo-mini {
            display: none;
            margin-left: 5px;
        }

        .text-logo {
            padding-left: 20px;
            padding-top: 12px;
        }
    }

    /* Search box */
    .search-form {
        display: inline-block;
        width: $header-height;
        position: relative;
        float: left;
        transition: all 0.6s;

        .input-group {
            .form-control {
                height: $header-height;
                border: 0;
                background: transparent !important;
                font-size: 13px;
                padding-left: 0;
                margin-left: 12px;
                text-indent: -150000px;

                &:hover {
                    cursor: pointer;
                }
            }

            .input-group-btn {
                height: $header-height;

                .btn.submit {
                    margin-left: -24px;
                    padding:0;
                    width: $header-height;
                    background: none;
                    margin-top: 4px;
                    display: block;

                    > i {
                        font-size: 15px;
                    }
                }
            }
        }


        &.open {
            transition: all 0.6s;
            width: 300px !important;

            .input-group {
                .form-control {
                    text-indent: 0;

                    &:hover {
                        cursor:text;
                    }
                }

                .input-group-btn {
                    .btn.submit {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    /* Menu Toggler */
    .menu-toggler {
        display: block;
        cursor: pointer;
        opacity: 0.7;
        filter: alpha(opacity=70);
        width: $header-menu-toggler-width;
        height: $header-menu-toggler-height;
        background-repeat: no-repeat;
        background-position: center center;

        &:hover {
            filter: alpha(opacity=100);
            opacity: 1;
        }

        &.sidebar-toggler {
            float: right;
            margin: $header-sidebar-toggler-margin;

            .sidebar-nav-closed.sidebar-nav-closed-hide-logo & {
                margin-right: ($sidebar-collapsed-width - $header-menu-toggler-width ) / 2 ;
            }
        }

        &.responsive-toggler {
            display: none;
            float: right;
            margin: $header-responsive-toggler-margin;
        }
    }

}

/* Allow expanded search for above 768px */
@media (min-width: $screen-sm-min) {  /* 768px */
    section#top.navbar {

        /* Search box */
        .search-form {
            &.search-form-expanded {
                width: 200px;

                .input-group {
                    .form-control {
                        text-indent: 0;

                        &:hover {
                            cursor:text;
                        }
                    }

                    .input-group-btn {
                        .btn.submit {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}

/***
Horizontal Menu
***/

section#top.navbar {

    /* Header container */
    .container {
        position: relative;
    }

}

/* Form medium devices upto large devices */

@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {  /* 992px 1200px */
    /* Boxed layout */
    .page-boxed {
        section#top.navbar {


        }
    }
}

@media (min-width: $screen-md-min) { /* 992px */

    /* Page header */
    section#top.navbar {
        /* Header logo */
        .page-logo {
            .sidebar-nav-closed.sidebar-nav-closed-hide-logo & {
                padding: 0;
            }

            .sidebar-nav-closed.sidebar-nav-closed-hide-logo & {
                width: $sidebar-collapsed-width;

                .logo-default {
                    display: none;
                }
            }
        }
    }

    /* Boxed Layout */
    .page-boxed	{
        section#top.navbar {
            /* Page logo */
            .page-logo {
                width: ($sidebar-width + 1px);
            }


        }
    }

    /* Sidebar closed & logo hidden */
    .sidebar-nav-closed.sidebar-nav-closed-hide-logo.page-boxed {
        section#top.navbar {
            /* Page logo */
            .page-logo {
                width: ($sidebar-collapsed-width + 1);
            }
        }
    }

    /* Boxed layout & page sidebar fixed layout */
    .page-boxed.sidebar-nav-fixed {
        section#top.navbar {
            /* Page logo */
            .page-logo {
                width: $sidebar-width;
            }
        }
    }
}

@media (max-width: $screen-sm-max) { /* 991px */

    /* Page header */
    section#top.navbar {
        padding: 0 20px 0 20px;
        position: relative;
        clear: both;

        /* Page logo */
        .page-logo {
            width: auto;
            padding: 0;
            margin-right: 10px;
            margin-left: 0px !important;
            padding-left: 0px !important;

            img {
                margin-left: 4px !important;
            }
        }

        /* Menu Toggler */
        .menu-toggler {
            &.sidebar-toggler {
                display:none !important;
            }

            &.responsive-toggler {
                display: inline-block;
            }
        }

    }

    /* Fixed header for mobile */
    .section-top-fixed.section-top-fixed-mobile {
        .navbar-fixed-top {
            position: fixed;
        }
    }

    /* Boxed Layout */
    .page-boxed section#top.navbar {
        > .container {
            max-width: none !important;
            margin: 0 !important;
            padding: 0 !important;
        }
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { /* 768px & 991px */

    /* Boxed Layout */
    .page-boxed {
        section#top.navbar  {
            margin: auto !important;
            padding: 0;

            > .container {
                margin: auto !important;
            }
        }
    }
}

@media (max-width: $screen-xs-max) { /* 767px */

    /* Page header */
    section#top.navbar {
        padding: 0 10px 0 10px;

        /* Header logo */
        .page-logo {
            width: auto;
        }

        /* Search box */
        .search-form {
            &.open {
                z-index: 3;
                left: 10px;
                right: 10px;
                position: absolute;
                width: auto !important;
            }
        }

    }
}

@media (max-width: 580px) {

    /* Page header */
    section#top.navbar {


    }
}

@media (max-width: $screen-xs-min) { /* 480px */

    /* Fixed header for mobile */
    .section-top-fixed.section-top-fixed-mobile {
        section#top.navbar {
            height: $header-height-xs;
        }
    }

    section#top.navbar {


    }
}

