section#top.navbar {
    width: 100%;
    padding: 0 20px 0 20px;
    margin: 0;
    border: 0px;
    padding: 0px;
    box-shadow: none;
    height: $header-height;
    min-height: $header-height;
    filter: none;
    background-image: none;

    &.navbar-fixed-top {
        z-index: $zindex-header-fixed;
    }

    &.navbar-static-top {
        z-index: $zindex-header-static;
    }

    .page-logo {
        float: left;
        display: block;
        width: $sidebar-logo-container-width;
        height: $header-height;
        padding-left: 0px;
        padding-right: 20px;

        .sidebar-nav-closed.sidebar-nav-closed-hide-logo & {
            padding: 0;
        }

        > .logo-image,
        > a {
            display: inline-block;
            float: left;
        }

        .logo-default {
            margin: $header-logo-margin;
        }

        .logo-mini {
            display: none;
            margin-left: 5px;
        }

        .text-logo {
            padding-left: 20px;
            padding-top: 7px;
            font-family: $font-family-base;
            color: #bcbcbc;
            font-weight: 300;
            text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
            font-size: 21px;
        }
    }

    .search-form {
        display: inline-block;
        width: $header-height;
        position: relative;
        float: left;
        transition: all 0.6s;

        .input-group {
            .form-control {
                height: $header-height;
                border: 0;
                background: transparent !important;
                font-size: 13px;
                padding-left: 0;
                margin-left: 12px;
                text-indent: -150000px;

                &:hover {
                    cursor: pointer;
                }
            }

            .input-group-btn {
                height: $header-height;

                .btn.submit {
                    margin-left: -24px;
                    padding: 0;
                    width: $header-height;
                    background: none;
                    margin-top: 4px;
                    display: block;

                    > i {
                        font-size: 15px;
                    }
                }
            }
        }

        &.open {
            transition: all 0.6s;
            width: 300px !important;

            .input-group {
                .form-control {
                    text-indent: 0;

                    &:hover {
                        cursor: text;
                    }
                }

                .input-group-btn {
                    .btn.submit {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .menu-toggler {
        display: block;
        cursor: pointer;
        opacity: 0.7;
        filter: alpha(opacity=70);
        width: $header-menu-toggler-width;
        height: $header-menu-toggler-height;
        background-repeat: no-repeat;
        background-position: center center;

        &:hover {
            filter: alpha(opacity=100);
            opacity: 1;
        }


        &.sidebar-toggler {
            float: left;
            text-align: center;
            margin: 0;
            height: $header-height - 1px;
            padding: 12px;
            > i.fa {
                font-size: 20px;
            }
            // match width and color with the top level sidebar left bg gradient
            width: $sidebar-collapsed-width;


            .sidebar-nav-closed.sidebar-nav-closed-hide-logo & {
                margin-right: ($sidebar-collapsed-width - $header-menu-toggler-width ) / 2;
            }
        }

        &.responsive-toggler {
            display: none;
            float: right;
            margin: $header-responsive-toggler-margin;
        }
    }


    .header-menu {
        margin: 0;
        padding: 0;
        //float: right;


        ul.navbar-nav {
            padding: 0;
            margin-right: 20px;
            margin-left: 1px;
            display: block;

            &.pull-right {
                margin-right: 0;
                > li {
                    margin-right: 0;
                    margin-left: 1px;
                    > ul.dropdown-menu > li.header {
                        display: block;
                        overflow: hidden;
                        padding: 10px;
                        letter-spacing: 0.5px;
                        background: #454545;
                        h3 {
                            margin: 0;
                            padding: 0;
                            float: left;
                            font-size: 13px;
                            font-weight: normal;
                            display: inline-block;
                            color: #b3b3b3;
                            font-family: $font-family-sub-heading;
                        }
                        a {
                            display: inline-block;
                            padding: 0;
                            background: none;
                            clear: inherit;
                            font-size: 13px;
                            font-weight: 300;
                            position: absolute;
                            right: 10px;
                            border: 0;
                            margin-top: -1px;
                        }
                    }
                }
                .dropdown-menu {
                    right: 0;
                    float: right;
                    left: auto;
                }
            }

            > li {
                > a {
                    cursor: pointer;
                    height: $header-height;
                    line-height: 46px;
                    padding: 0 15px !important;
                    //color: rgb(47, 44, 45);
                    font-size: 15px;

                }

                .dropdown-menu {
                    small {
                        font-size: 10px;
                        float: right;
                        line-height: 20px;
                        display: block;
                    }

                    &.dropdown-wide {
                        min-width: 300px !important;;
                    }
                    background: #333;
                    border-right: 5px solid #222;
                    border-bottom: 5px solid #222;
                    padding: 0px;
                    &:before {
                        border-left: none;
                        border-right: none;
                    }

                    li {
                        border-bottom: 1px solid #484848;

                        &:last-child{
                            border-bottom: none;
                        }
                    }
                    a {
                        padding: 7px 20px;
                        color: #888888;


                        &:hover {

                        background: #222;
                        }
                    }

                    .dropdown-menu-list {
                        > li.external {

                            a {
                                background: none !important;
                                border: none !important;
                            }
                        }
                    }
                }

            }

        }
    }

}

body.section-top-hidden section#top {
    display: none;
}




@media (min-width: $screen-md-min) { /* 992px */

    /* Page header */
    .page-header.navbar {
        /* Header logo */
        .page-logo {
            .page-sidebar-closed.page-sidebar-closed-hide-logo & {
                padding: 0;
            }

            .page-sidebar-closed.page-sidebar-closed-hide-logo & {
                width: $sidebar-collapsed-width;

                .logo-default {
                    display: none;
                }
            }
        }
    }

    .page-boxed	{
        section#top.navbar {
            .page-logo {
               // width: ($sidebar-width + 1px);
                width: $sidebar-logo-container-width;
            }

            .top-menu {
                .navbar-nav {
                    margin-right: 0px;
                }
            }
        }
    }

    .sidebar-nav-closed.sidebar-nav-closed-hide-logo.page-boxed {
        section#top.navbar {
            .page-logo {
               // width: ($sidebar-collapsed-width + 1);
                width: $sidebar-logo-container-width;
            }
        }
    }

    .page-boxed.sidebar-nav-fixed {
        section#top.navbar {
            .page-logo {
           //     width: $sidebar-width;
                width: $sidebar-logo-container-width;
            }
        }
    }
}

@media (min-width: $screen-sm-min) {
    section#top.navbar {
        .search-form {
            &.search-form-expanded {
                width: 200px;

                .input-group {
                    .form-control {
                        text-indent: 0;

                        &:hover {
                            cursor: text;
                        }
                    }

                    .input-group-btn {
                        .btn.submit {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $screen-md-min) {

    section#top.navbar {

        .page-logo {
            .sidebar-nav-closed.sidebar-nav-closed-hide-logo & {
                padding: 0;
            }

            .sidebar-nav-closed.sidebar-nav-closed-hide-logo & {
                width: $sidebar-collapsed-width;

                .logo-default {
                    display: none;
                }
            }
        }
    }

    .page-boxed {
        section#top.navbar {

            .page-logo {
               // width: ($sidebar-width + 1px);
                width: $sidebar-logo-container-width;
            }

        }
    }

    .sidebar-nav-closed.sidebar-nav-closed-hide-logo.page-boxed {
        section#top.navbar {

            .page-logo {
                width: ($sidebar-collapsed-width + 1);
            }
        }
    }

    .page-boxed.sidebar-nav-fixed {
        section#top.navbar {

            .page-logo {
                width: $sidebar-width;
            }
        }
    }
}

@media (max-width: $screen-sm-max) {
    section#top.navbar {
        padding: 0 20px 0 20px;
        position: relative;
        clear: both;

        .page-logo {
            width: auto;
            padding: 0;
            margin-right: 10px;
            margin-left: 0px !important;
            padding-left: 0px !important;

            img {
                margin-left: 4px !important;
            }
        }

        .menu-toggler {
            &.sidebar-toggler {
                display: none !important;
            }

            &.responsive-toggler {
                display: inline-block;
            }
        }

    }

    .section-top-fixed.section-top-fixed-mobile {
        .navbar-fixed-top {
            position: fixed;
        }
    }

    .page-boxed section#top.navbar {
        > header.top {
            max-width: none !important;
            margin: 0 !important;
            padding: 0 !important;
        }
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .page-boxed {
        section#top.navbar {
            margin: auto !important;
            padding: 0;

            > header.top {
                margin: auto !important;
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    section#top.navbar {
        padding: 0 10px 0 10px;

        .page-logo {
            width: auto;
        }

        .search-form {
            &.open {
                z-index: 3;
                left: 10px;
                right: 10px;
                position: absolute;
                width: auto !important;
            }
        }
    }
}

@media (max-width: $screen-xs-min) {
    .section-top-fixed.section-top-fixed-mobile {
        section#top.navbar {
            height: $header-height-xs;
        }
    }
}

