.ie8 .sidebar-nav {
	width: $sidebar-width;
	float: left;
	position: relative;
	margin-right: -100%;
}


.sidebar-toggler i.fa {
		transition: 300ms ease-in-out ;
		transform: rotate(0deg) ;
}
.sidebar-nav-closed .sidebar-toggler i.fa {
	transition: 300ms ease-in-out ;
	transform: rotate(180deg) ;
}


.sidebar-nav,
.sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover {

	&.navbar-collapse {
		padding: 0;
		box-shadow: none;
	}

	.sidebar-nav-menu {
		list-style: none;
		margin: 0;
		padding: 0;

		> li {
			display: block;
			margin: 0;
			padding: 0;
			border: 0px;

			&.sidebar-toggler-wrapper,
			&.sidebar-search-wrapper {
				border: 0 !important;
				@include clearfix();
			}

			&.start {
				> a {
					border-top-color: transparent !important;
				}
			}

			&.last {
				> a {
					border-bottom-color: transparent !important;
				}
			}

			> a {
				display: block;
				position: relative;
				margin: 0;
				border: 0px;
				padding: 10px 10px;
				text-decoration: none;
				font-size: $sidebar-menu-link-font-size;
				font-weight: 300;

				> i {
					font-size: $sidebar-menu-link-icon-font-size;
					text-shadow:none;
                    margin-left: 1px;
                    margin-right: 20px !important;
				}

				> i.fa {
					top: 3px;
				}

				> [class^="fa-"] {
					top: 2px;
					margin-left: 1px;
				}

                &.no-icon {
                    padding-left: 55px;
                    height: 40px;
                }
				.sidebar-nav-fixed & {
					transition: all 0.2s ease;
				}

				.sidebar-nav-reversed.sidebar-nav-fixed & {
					transition: none;
				}

                .title {
                    font-size: 13px;
                }
			}

			&.heading {
				padding: 15px 15px 15px 15px;
				> h3 {
					margin: 0;
					padding: 0;
					font-size: $sidebar-menu-head-font-size;
					font-weight: 300;
				}
			}

			&.heading + li > a {
				border-top: 0;
			}

			&.open {
				> a {
					font-size: $sidebar-menu-link-font-size;
				}
			}

			&.active {
				> a {
					border: none;
					text-shadow:none;
					font-size: $sidebar-menu-link-font-size;

					> .selected {
						display: block;
						background-image: none;
						float: right;
						position: absolute;
						right:0px;
						top:8px;

						background: none;
						width: 0;
						height: 0;
						border-top: 12px solid transparent;
						border-bottom: 12px solid transparent;
						border-right: 12px solid #ffffff;

						.sidebar-nav-reversed & {
							right: auto;
							left:0;
							border-right: 0;
							border-left:8px solid #ffffff;
						}

						.page-container-bg-solid & {
							border-color: transparent $page-content-solid-bg-color transparent transparent;
						}


						.page-container-bg-solid.sidebar-nav-reversed & {
							border-color: transparent transparent transparent $page-content-solid-bg-color;
						}
					}
				}
			}
		}


		li {
			> a {
                > i {

                    width: 23px;
                    text-align: center;
                    margin-right: 4px;
                }

                > .title {
                    font-size: 12px;
                }
				> .arrow {

					&:before {
						float: right;
						width: 10px;
						text-align: center;
						margin-top: -1px;
						margin-right: 5px;
						margin-left: 5px;
						display: inline;
						font-size: $sidebar-menu-link-icon-font-size;
						font-family: FontAwesome;
						height: auto;
						content: "\f104";
						font-weight: 300;
						text-shadow:none;
					}

					&.open:before {
						content: "\f107";
					}
				}

				> .badge {
					float: right;
					margin-top: 1px;
					margin-right: 0px;
				}
			}
		}

		.sub-menu {
			list-style: none;
			display: none;
			padding: 0;
			margin: 0; //8px 0px 8px 0px;

			li {
				background: none;
				margin: 0px;
				padding: 0px;
				margin-top: 0px !important;

				> a {
					display: block;
					margin: 0;
					padding: 6px 15px 6px 60px;
					text-decoration: none;
					font-size: $sidebar-menu-link-font-size;
					font-weight: 300;
					background: none;

					> i {
						font-size: $sidebar-menu-sub-menu-link-icon-font-size;
					}
				}

				> .sub-menu {
					margin: 0;
					> li {
                        //@include sidebar-hover-submenu($sidebar-width);
						> a {
							padding-left: 70px;
						}

                        /**
                        /** Submenu
                        /** Level 3
                        /**/
						> .sub-menu {
							margin: 0;
							> li {
                                //@include sidebar-hover-submenu($sidebar-width);

								> a {
									padding-left: 80px;
								}

							}

						}
					}
				}
			}
		}


		li.active {
			> .sub-menu {
				display: block;
			}
		}
	}

    // todo: fix light style
	.sidebar-nav-menu.sidebar-nav-menu-light {
		> li {
			> a {
				border: 0;
				margin: 0;
				padding-left: 11px;
				border-left: 4px solid transparent;
			}

			.sub-menu {
				margin: 0;
				padding: 1px 0;

				li {
					> a {
						padding-top: 8px;
						padding-bottom: 8px;
					}

					&:first-child {
						margin-top: 0 !important;
					}
				}
			}
		}

		.sidebar-nav-reversed & {
			> li {
				> a {
					padding-left: 15px;
					padding-right: 11px;
					border-left: 0;
					border-right: 4px solid transparent;
				}
			}
		}
	}

	.sidebar-toggler {

		display: block;
		cursor: pointer;
		opacity: 0.7;
		filter: alpha(opacity=70);
		width: 30px;
		height: 27px;
		margin-top: 15px;
		margin-right: 19px;
		float: right;



		&:hover {
			filter: alpha(opacity=100);
			opacity: 1;
		}
	}

}

@media (min-width: $screen-md-min) {

	.sidebar-nav {
		width: $sidebar-width;
		float: left;
		position: relative;
		margin-right: -100%;

		.page-full-width & {
			display: none !important;
		}

		&.navbar-collapse {
			max-height: none !important;
		}
	}

	.sidebar-nav-reversed {
		.sidebar-nav {
			float: right;
			margin-right: 0;
			margin-left: -100%;
		}

		&.sidebar-nav-fixed .sidebar-nav {
			margin-left: -$sidebar-width;
		}

		&.sidebar-nav-fixed aside.sidebar {
			position: relative;
			float: right;
		}
	}

	.sidebar-nav-fixed {

		.sidebar-nav {
			position: fixed !important;
			margin-left: 0;
			top: $header-height;
		}

		.sidebar-nav-menu {
			> li {
				&.last {
					margin-bottom: 15px !important;
				}
			}

			.sub-menu {
				height: auto !important;
			}
		}
	}

	.sidebar-nav-closed {


		.sidebar-nav {
			width: $sidebar-collapsed-width !important;

			.sidebar-nav-menu.sidebar-nav-menu-closed {


				width: $sidebar-collapsed-width !important;

				> li {


					&.open > .sub-menu,
					> .sub-menu {
						display: none !important;
					}

					&:hover {
						width: ($sidebar-collapsed-submenu-width-on-hover + $sidebar-collapsed-width + 1) !important;
						position: relative !important;
						z-index: $zindex-sidebar-fixed;
						display: block !important;

						> a {

							> i {
								margin-right: 10px;
							}

							> .title {
								display: inline !important;
								padding-left: 15px;
							}

							> .badge {
								display: block !important;
							}

							> .selected {
								display: none;
							}
						}

						&.heading {
							width: $sidebar-collapsed-width !important;
							box-shadow: none;
						}

						> .sub-menu {
							width: $sidebar-collapsed-submenu-width-on-hover;
							position: absolute;
							z-index: $zindex-sidebar-submenu;
							left: ($sidebar-collapsed-width + 1px);
							margin-top: 0;
							top: 100%;
							display: block !important;


						}
					}

					&.heading {
						> h3 {
							display: none;
						}
					}

					&.sidebar-toggler-wrapper {
						.sidebar-toggler {
							margin-right: 8px;
						}

						&:hover {
							width: $sidebar-collapsed-width !important;
						}
					}


					> a {
						padding-left: 11px;

						.selected {
							right: -3px !important;
						}

						> .badge,
						> .title,
						> .arrow {
							display: none !important;
						}
					}
				}

				.sidebar-toggler {
					margin-left: 3px;
					margin-right: 3px;

				}



			}

			.sidebar-nav-menu.sidebar-nav-menu-light.sidebar-nav-menu-closed {
				> li {
					> a {
						padding-right: 11px;
						padding-left: 7px;
					}
				}
			}
		}

		&.sidebar-nav-reversed {

			.sidebar-nav {
				margin-left: -$sidebar-collapsed-width;
				width: $sidebar-collapsed-width;

				.sidebar-nav-menu.sidebar-nav-menu-closed {


					> li {
						> .sub-menu {
							left:auto;
							right: ($sidebar-collapsed-width + 1px);
						}

						&:hover {
							margin-left: -($sidebar-collapsed-submenu-width-on-hover + 1px);

							> a {

								> .title {
									padding-left: 0;
									padding-right: 15px;
								}

								> i {
									margin-right: 0;
									margin-left: 2px;
								}
							}
						}

						&.sidebar-search-wrapper,
						&.sidebar-toggler-wrapper {
							&:hover {
								margin-left: 0;
							}
						}
					}


				}

				.sidebar-nav-menu.sidebar-nav-menu-light.sidebar-nav-menu-closed {
					> li {
						> a {
							padding-right: 7px;
							padding-left: 11px;
						}
					}
				}
			}
		}

		&.sidebar-nav-fixed {
			.sidebar-nav {
				&:hover {
					width: $sidebar-width !important;
					display: absolute;
					z-index: $zindex-sidebar-fixed;

					.sidebar-nav-menu {
						width: $sidebar-width !important;

						.selected {
							display: none !important;
						}
					}
				}
			}
		}

		&.sidebar-nav-fixed.sidebar-nav-reversed {
			.sidebar-nav {
				&:hover {
					width: $sidebar-width !important;
					display: absolute;
					z-index: $zindex-sidebar-fixed;
					margin-left: -$sidebar-width !important;

					.sidebar-nav-menu {
						width: $sidebar-width !important;
					}
				}
			}
		}

		&.sidebar-nav-hide {
			.sidebar-nav {
				display: none !important;
			}
		}
	}

	.sidebar-nav-menu.sidebar-nav-menu-hover-submenu {
		li {
			.sub-menu {
				display: none;
				width: $sidebar-collapsed-submenu-width-on-hover;
				z-index: $zindex-sidebar-submenu;
				position: absolute;


				> li {
                    > a {
                        text-indent: 40px;

                        i {
                            text-indent: 0px;
                            margin-left: -55px;
                            width: 45px;
                            margin-right: 10px;
                        }
                    }
				}
			}

			&.active,
			&.open {
				.sub-menu {
					display: none !important;
				}
			}

			a > .arrow {
				display: none;
			}

			&:hover {
				> a {
					> .arrow {
						display: block;
						float: right;
						position: absolute;
						right: 0;
						margin-top: -20px;
						background: none;
						width: 0;
						height: 0;
						border-style: solid;
						border-top: 12px double transparent;
						border-bottom: 12px double transparent;
						border-left:0;

						&:after,
						&:before {
							display: none;
						}

						.sidebar-nav-reversed & {
							right: auto;
							left: 0;
							border-right: 0;
						}
					}
				}

				> .sub-menu {
					display: inline-block !important;
				}
			}
		}

		> li:hover {
			> a {
				> .arrow {
					z-index: 1;
					right: 0px;
					margin-top: -23px;
				}
				> .selected {
					display: none;
				}
			}

			> .sub-menu {
				margin-left: $sidebar-width;
				margin-top: -40px;

				.sidebar-nav-reversed & {
					margin-left: -($sidebar-collapsed-submenu-width-on-hover) !important;
				}

				.sidebar-nav-closed & {
					margin-left: 0;
				}

				> li {

					> a {
						padding-left: 15px;
					}

					.sub-menu {
						margin-left: $sidebar-collapsed-submenu-width-on-hover;
						margin-top: -32px !important;

						.sidebar-nav-reversed & {
							margin-left: -$sidebar-collapsed-submenu-width-on-hover !important;
						}

						> li > a {
							padding-left: 15px;
							padding-right: 10px;
						}
					}
				}
			}
		}
	}

	.sidebar-nav-menu.sidebar-nav-menu-light.sidebar-nav-menu-hover-submenu  {
		li:hover {
			> .sub-menu {
				margin-top: -41px;

				> li {
					> .sub-menu {
						margin-top: -41px;
					}
				}
			}
		}
	}
}

@media (max-width: $screen-sm-max) {

	.sidebar-nav {
		border-top: 0 !important;
		margin: 20px;

		.sidebar-toggler {
			display: none;
		}

		.selected {
			display: none !important;
		}

		&.navbar-collapse {
			max-height: none;

			&.collapse {
				display: none !important;
			}

			&.in {
				border-top: 0 !important;
				margin: 20px;
				position: relative;
				overflow: hidden !important;
				overflow-y: auto !important;
				display: block !important;
			}

			&.navbar-no-scroll {
				max-height: none !important;
			}
		}

	}

	.page-full-width {
		.sidebar-nav-menu {
			display: block;
		}
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.sidebar-nav {
		.btn-navbar {

			&.collapsed .arrow {
				display: none;
			}

			.arrow {
				position: absolute;
				right: 25px;
				width: 0;
				height: 0;
				top:50px;
				border-bottom: 15px solid #5f646b;
				border-left: 15px solid transparent;
				border-right: 15px solid transparent;
			}
		}
	}
}

@media (max-width: $screen-xs-min) {
	.sidebar-nav,
	.sidebar-nav.in {
		margin: 0 10px 10px 10px !important;

		.page-header-fixed.page-header-fixed-mobile & {
			margin-top: 10px !important;
		}
	}
}
