{% include default %}
<!-- @include ../partials/top.html -->
<head>
    <!-- @include ../partials/head.html -->

    <!-- @include ../partials/scripts.html -->
    <!-- @include ../partials/widgets.html -->
<body class="{% if page.layout_fluid == false %}page-boxed {% endif %} page-header-fixed page-container-bg-solid page-sidebar-closed-hide-logo page-sidebar-closed-hide-logo">
<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner {% if page.layout_fluid == false %}container {% endif %}">
        <!-- @include ../partials/logo.html -->
        <!-- @include ../partials/page-top.html -->
    </div>
</div>

<div class="clearfix"></div>
{% if page.layout_fluid == false %}<div class="container">{% endif %}
    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                <ul class="page-sidebar-menu page-sidebar-menu-compact " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    <!-- @include ../partials/sidebar-navigation.html -->
                </ul>
            </div>
        </div>

        <div class="page-content-wrapper">


            <div class="page-content">
                {% if page.title and page.hide-title != false %}
                <h3 class="page-title">
                    {{ page.title }} <small>{{ page.subtitle }}</small>
                </h3>
                {% endif %}

                {{ content }}
            </div>
        </div>
    </div>
    <!-- @include ../partials/footer.html -->
{% if page.layout_fluid == false %}</div>{% endif %}

<!-- @include ../disqus_comments.html -->

</body>

<!-- @include ../partials/bottom.html -->
