
.box {
    //border: 1px solid;
    border-radius: $box-radius;
    margin-bottom: 10px;

    header {
        padding: 3px 15px;
        border-bottom: 1px solid;
        line-height: 30px;
        > h3 {
            font-family: "Karla", "Times New Roman", Times, serif;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0;
            font-size: 15px;
            display: inline-block;
            padding: 0;
        }
        > i {
            margin-right: 5px;
        }

        .box-header-widgets {
            @extend .pull-right;

            .box-header-widget {

            }

        }

        // Deprecated. remove, please dont look
        .actions {
            @extend .btn-group;

            float: right;
            padding: 4px 0;

            > .btn {
                @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small);
            }
            &.rounded {
                @extend .btn-group-rounded;
            }
            &.circle {
                @extend .btn-group-circle;
            }
        }
    }

    section {
        padding: 10px;
        h1, h2, h3, h4, h5, h6 {
            &.box-heading {
                font-family: "Karla", "Times New Roman", Times, serif;
                border-bottom: 1px solid #E2E2E2;

            }
        }

        &.box-table {
            padding: 0;
            > div > table,
            > table {
                margin: 0;
                &.table-bordered {
                    border: none;
                    > thead th,
                    > tbody td {
                        &:first-child {
                            border-left: none;
                        }
                        &:last-child {
                            border-right: none;
                        }
                    }
                }
            }
        }

        &.box-tabber {
            padding: 0;
            > .tabber {
                > .nav-tabs > li:first-child > a {
                    border-left: none;
                    margin-left: 0;
                }
                &.tabs-bottom > .tab-content {
                    border-top: none;
                }
                &:not(.tabs-bottom) > .tab-content {
                    border-bottom: none;
                }
                > .tab-content {
                    border-left: none;
                    border-right: none;
                }
            }
        }
    }

    footer {

    }
}
