/* rounded buttons */
@mixin button-radius-variant($class-suffix, $border-radius) {
    .btn-#{$class-suffix} {
        border-radius: $border-radius !important;
    }

    .btn-#{$class-suffix}-right {
        border-radius: 0 $border-radius $border-radius 0 !important;
    }

    .btn-#{$class-suffix}-left {
        border-radius: $border-radius 0 0 $border-radius !important;
    }

    .btn-#{$class-suffix}-bottom {
        border-radius: 0 0 $border-radius $border-radius !important;
    }

    .btn-#{$class-suffix}-top {
        border-radius: $border-radius $border-radius 0 0 !important;
    }

    .btn-group.btn-group-#{$class-suffix} {
        > .btn {
            &:first-child {
                border-radius: $border-radius 0 0 $border-radius !important;
            }

            &:last-child {
                border-radius: 0 $border-radius $border-radius 0 !important;
            }
        }
    }
}


.btn.alt {
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.btn-group {

}

.btn-icon {
    text-align: center;
    padding-left: 0;
    padding-right: 0;

    > [class^="icon-"],
    > i {
        text-align: center;
        margin-top: 2px;
    }
}

@include button-radius-variant("circle", 25px);
@include button-radius-variant("rounded", 4px);

