

@mixin button-radius-variant($class-suffix, $border-radius) {
    .btn-#{$class-suffix} {
        border-radius: $border-radius !important;
    }

    .btn-#{$class-suffix}-right {
        border-radius: 0 $border-radius $border-radius 0 !important;
    }

    .btn-#{$class-suffix}-left {
        border-radius: $border-radius 0 0 $border-radius !important;
    }

    .btn-#{$class-suffix}-bottom {
        border-radius: 0 0 $border-radius $border-radius !important;
    }

    .btn-#{$class-suffix}-top {
        border-radius: $border-radius $border-radius 0 0 !important;
    }

    .btn-group.btn-group-#{$class-suffix} {
        > .btn {
            &:first-child {
                border-radius: $border-radius 0 0 $border-radius !important;
            }

            &:last-child {
                border-radius: 0 $border-radius $border-radius 0 !important;
            }
        }
    }
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    line-height: $line-height;
    border-radius: $border-radius;
}


.btn.alt {
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.btn-group {

}

.btn-icon {
    text-align: center;

    > [class^="icon-"],
    > i {
        text-align: center;
        margin-top: 2px;
    }
}

@mixin button-icon-size($size, $padding, $font-size: false){
    &.btn-icon {
        padding: $padding;
        height: $size;
        width: $size;
        i {
            @if type_of($font-size) != 'boolean' {
                font-size: $font-size;
            }
        }
    }
}

.btn-md, .btn-icon {
    @include button-icon-size(34px, 6px, 15px);
}

.btn-lg {
    @include button-icon-size(45px, 10px, 17px);
}

.btn-sm {
    @include button-icon-size(28px, 3px, 14px);
}
.btn-xs {
    @include button-icon-size(20px, 0px, 10px);
}

@include button-radius-variant("circle", 25px);
@include button-radius-variant("rounded", 4px);

