/*
@include text-emphasis-variant('.text-primary', $brand-primary);

@include text-emphasis-variant('.text-success', $state-success-text);

@include text-emphasis-variant('.text-info', $state-info-text);

@include text-emphasis-variant('.text-warning', $state-warning-text);

@include text-emphasis-variant('.text-danger', $state-danger-text);

@include bg-variant('.bg-primary', $brand-primary);

@include bg-variant('.bg-success', $state-success-bg);

@include bg-variant('.bg-info', $state-info-bg);

@include bg-variant('.bg-warning', $state-warning-bg);

@include bg-variant('.bg-danger', $state-danger-bg);
*/
@mixin make-button-color-variant($class-name, $background-color, $border-color, $text-color: $text-color) {
    .btn.#{$class-name} {
        @include button-variant($text-color, $background-color, $border-color);
    }
    .btn.#{$class-name}-stripe {
        border-left: 3px solid $background-color !important;
    }
}

@mixin make-color-variant($color-name) {
    $light: material-color($color-name, '200');
    $normal: material-color($color-name, '500');
    $dark: material-color($color-name, '900');

    @include text-emphasis-variant('.text-' + $color-name + '-light', $light);
    @include text-emphasis-variant('.text-' + $color-name, $normal);
    @include text-emphasis-variant('.text-' + $color-name + '-dark', $dark);

    @include make-button-color-variant($color-name + '-light', $light, $light);
    @include make-button-color-variant($color-name, $normal, $normal);
    @include make-button-color-variant($color-name + '-dark', $dark, $dark, #fff);
}

@each $color-name, $color-variants in $material-colors {
    @include make-color-variant($color-name);
}
