// position variables
$dropdown-box-shadow-size: 5px;
$dropdown-wide-min-width: 300px;
$dropdown-header-font-size: 13px;
$dropdown-tasklist-task-font-size: 12px;

// theme variables
// dropdown
$dropdown-bg: #ffffff;
$dropdown-box-shadow-color: rgba(#222, 0.2);
$dropdown-header-bg: #e4e4e4;
$dropdown-header-font: $font-family-sub-heading;
$dropdown-header-color: #838383;
$dropdown-header-link-color: #000000;
$dropdown-header-link-color-hover: lighten($dropdown-header-link-color, 5);
$dropdown-item-border-color: transparent;
$dropdown-item-bg-hover: #f5f5f5;
$dropdown-item-color: #888888;
$dropdown-item-color-hover: $dropdown-item-color;
$dropdown-item-arrow-color: #cccccc;

// dropdown inverse (dark)
$dropdown-inverse-bg: #333333;
$dropdown-inverse-box-shadow-color: rgba(#000, 0.2);
$dropdown-inverse-header-bg: #454545;
$dropdown-inverse-header-color: #b3b3b3;
$dropdown-inverse-header-link-color: #000000;
$dropdown-inverse-header-link-color-hover: lighten($dropdown-inverse-header-link-color, 5);
$dropdown-inverse-item-border-color: #484848;
$dropdown-inverse-item-bg-hover: #222222;
$dropdown-inverse-item-color: #888888;
$dropdown-inverse-item-color-hover: $dropdown-inverse-item-color;
$dropdown-inverse-item-arrow-color: #cccccc;

// dropdown task list
$dropdown-tasklist-task-color: #888888;
$dropdown-tasklist-progress-bg: #dfdfdf;
$dropdown-tasklist-item-border-color: #e4e4e4;

$dropdown-inverse-tasklist-task-color: #b3b3b3;
$dropdown-inverse-tasklist-progress-bg: #c8c8c8;
$dropdown-inverse-tasklist-item-border-color: #484848;

// position
.dropdown-menu {
    padding: 0;

    &:before {
        border-left: none;
        border-right: none;
    }

    small {
        font-size: 10px;
        float: right;
        line-height: 20px;
        display: block;
    }
    li:not(.header) + li:not(.header) {
        border-top: 1px solid transparent;
    }
    > li {
        &:last-child {
            border-bottom: none;
        }
        > a {
            padding: 4px 20px;
            font-weight: $base-font-weight;
        }
    }

    > li.header {
        display: block;
        overflow: hidden;
        padding: 7px;
        letter-spacing: 0.5px;

        h1, h2, h3, h4, h5, h6 {
            margin: 0;
            padding: 0;
            float: left;
            font-size: $dropdown-header-font-size;
            font-weight: normal;
            display: inline-block;
            font-family: $dropdown-header-font;
        }
        a {
            display: inline-block;
            padding: 0;
            background: none;
            clear: inherit;
            font-size: 13px;
            font-weight: 300;
            position: absolute;
            right: 10px;
            border: 0;
            margin-top: -1px;
        }
    }

    li.header + li:not(.header) {
        margin-top: 5px;
    }
    li:not(.header) + li.header {
        margin-top: 5px;
    }

    > li.submenu {
        position: relative;
        > a {
            &:after {
                display: block;
                content: " ";
                float: right;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 5px 0 5px 5px;
                margin-top: 5px;
                margin-right: -10px;
            }
        }

        > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: 0;
            margin-left: 0;
        }

        &:hover > .dropdown-menu {
            display: block;
        }

        &.pull-left {
            float: none;
            > .dropdown-menu {
                left: -100%;
                margin-left: 10px;

            }
        }

        &.submenu-left {
            > .dropdown-menu {
                left: -100%;
                right: 100%;
            }
        }
    }

}

// theme
.dropdown-menu {

    background: $dropdown-bg;
    @include box-shadow($dropdown-box-shadow-size $dropdown-box-shadow-size $dropdown-box-shadow-color);

    li:not(.header) + li:not(.header) {
        border-top-color: 1px solid $dropdown-item-border-color;
    }
    > li > a {
        color: $dropdown-item-color;
        &:hover {
            background: $dropdown-item-bg-hover;
            color: $dropdown-item-color-hover;
        }
    }

    > li.header {
        background: $dropdown-header-bg;
        h1, h2, h3, h4, h5, h6 {
            color: $dropdown-header-color;
        }
        a {
            color: $dropdown-header-link-color;
            &:hover {
                color: $dropdown-header-link-color-hover;
            }
        }
    }

    > li.submenu > a:after {
        border-left-color: $dropdown-item-arrow-color;
        margin-top: 5px;
        margin-right: -10px;
    }
}
.dropdown-menu.dropdown-menu-inverse,
.dropdown-menu.dropdown-menu-inverse li.submenu > .dropdown-menu {
    background: $dropdown-inverse-bg;
    @include box-shadow($dropdown-box-shadow-size $dropdown-box-shadow-size $dropdown-inverse-box-shadow-color);

    li:not(.header) + li:not(.header) {
        border-top-color: $dropdown-inverse-item-border-color !important;
    }
    > li {
        > a {
            color: $dropdown-inverse-item-color;
            &:hover {
                background: $dropdown-inverse-item-bg-hover;
                color: $dropdown-inverse-item-color-hover;
            }
        }
    }

    > li.header {
        background: $dropdown-inverse-header-bg;

        h1, h2, h3, h4, h5, h6 {
            color: $dropdown-inverse-header-color;
        }
        a {
            color: $dropdown-inverse-header-link-color;
            &:hover {
                color: $dropdown-inverse-header-link-color-hover;
            }
        }
    }
    > li.submenu > a:after {
        border-left-color: $dropdown-inverse-item-arrow-color;
    }
}

// position
.dropdown-menu.dropdown-task-list {

    li.header + li:not(.header) {
        margin-top: 0 !important;
    }
    li:not(.header) + li.header {
        margin-top: 0 !important;
    }
    li:not(.header) {
        a {
            display: block;
            padding: 5px 15px;
            &:hover {
                text-decoration: none;
            }
        }
        .task {
            font-size: $dropdown-tasklist-task-font-size;
            padding: 5px 0 10px 0;
            .percent {
                float: right;
            }
        }
        .progress {
            height: 8px;
            border-radius: 0;
            box-shadow: none;
            margin-bottom: 10px;
            .progress-bar {
                box-shadow: none;
            }
        }
    }
}

// theme
.dropdown-menu.dropdown-task-list {

    li:not(.header) + li:not(.header) {
        border-top-color: $dropdown-tasklist-item-border-color;
    }
    li:not(.header) {
        .task {
            color: $dropdown-tasklist-task-color;
        }
        .progress {
            background: $dropdown-tasklist-progress-bg;
        }
    }
}
.dropdown-menu.dropdown-task-list.dropdown-menu-inverse {
    li:not(.header) + li:not(.header) {
        border-top-color: $dropdown-inverse-tasklist-item-border-color;
    }
    li:not(.header) {
        .task {
            color: $dropdown-inverse-tasklist-task-color;
        }
        .progress {
            background: $dropdown-inverse-tasklist-progress-bg;
        }
    }
}

// @todo sort out
.dropdown-large {
    position: static !important;
}

.dropdown-menu.dropdown-menu-large {
    margin-left: 16px;
    margin-right: 16px;
    padding: 20px 0px;
    > li {

        > ul {
            padding: 0;
            margin: 0;
            > li {
                list-style: none;
                > a {
                    display: block;
                    padding: 3px 20px;
                    clear: both;
                    font-weight: normal;
                    line-height: 1.428571429;
                    color: #333333;
                    white-space: normal;
                    &:hover, &:focus {
                        text-decoration: none;
                        color: #262626;
                        background-color: #f5f5f5;
                    }
                }
                &.disabled > a {
                    color: #999999;
                    &:hover, &:focus {
                        color: #999999;
                    }
                    &:focus {
                        text-decoration: none;
                        background-color: transparent;
                        background-image: none;
                        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
                        cursor: not-allowed;
                    }
                }
            }
        }
    }
    .dropdown-header {
        color: #428bca;
        font-size: 18px;
    }
}

.dropdown-menu.dropdown-wide {
    min-width: $dropdown-wide-min-width !important;;
}

.dropdown-menu.dropdown-menu-list > li.external a {
    background: none !important;
    border: none !important;
}

@media (max-width: $screen-sm-max) {
    .dropdown-menu-large {
        margin-left: 0;
        margin-right: 0;
        .dropdown-header {
            padding: 3px 15px !important;
        }
        > li {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }

    }
}
