// @todo: sort out the form seperator line properly. Remove form-light and think of something better



form {
    .form-group {
        //   @import "../../plugins/bootstrap-material-design/sass/inputs";
    }
    .form-title {
        @include make-row();
        > h1, h2, h3, h4, h5, h6 {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .form-actions {
        @include make-row();
    }

}

form {
    label {
        font-weight: $base-font-weight;
    }
    .input-group-addon {
        padding: 5px 14px;
    }

    .help-block {
        font-size: 12px;
        color: #737373;
        margin-left: 5px;
    }

    &.form-material {

        .form-control {
            border-bottom-color: #B3B2B2 !important;
        }
        .form-group {
            margin-bottom: 30px;
        }
        .help-block {
            display: block;
            position: absolute;
            margin-top: 2px;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .focus {
            .help-block {
                opacity: 1;
            }
        }
    }

    &.form-horizontal {
        padding: 5px;
    }
    &.form-bordered {
        .form-group {
            border-bottom: 1px solid #D7D7D7;
            padding-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }
        }
        .form-title {
            border-bottom: 2px solid #D7D7D7;
            padding-bottom: 0;
            padding-left: 15px;
            margin-bottom: 15px;
        }
    }

    &.form-light {
        label {
            font-size: 13px;
            font-weight: $base-font-weight;
        }
    }
    &.form-light.form-horizontal {

    }
}
