@import "../vendor/bootstrap-modal-bs3patch";
@import "../vendor/bootstrap-modal";

.modal {
    border-radius: 0;
    width: auto;
    z-index: $zindex-modal;
    .modal-header {
        color: $widget-header-color;
        padding: 5px 10px;
        @include content-bg(4);
        border-bottom: 1px solid #eee;

        button {
            color: #fff;
        }

        .modal-title {
            font-size: 15px;

        }
    }

    .modal-body {
        @include content-bg(3, true);

    }

    .modal-footer {
        @include content-bg(false, true);
    }
    .modal-dialog{
        margin: 0;
    }
    .modal-content {
        @include box-shadow(none);
        border: none;
        background-color: transparent;
    }
}
