#scroll-top {
    background: rgba(33, 33, 33, 0.3);
    bottom: 40px;
    color: #888;
    font-size: 20px;
    height: 40px;
    padding-top: 5px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 40px
}
