h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    &.alt {
        font-family: $font-family-serif;
        &.bold {
            font-weight: 700;
        }
    }
}

@for $i from 9 through 30 {
    .font-size-#{$i}, .fs-#{$i} {
        font-size: #{$i}px;
    }
}

$font-weights: 100 200 300 400 500 600 700 800 900 bold bolder lighter normal;
@each $weight in $font-weights {
    .fw-#{$weight} {
        font-weight: $weight;
    }
}

body {
    font-weight: $base-font-weight;
}
