/node_modules
/bower_components
/composer
/vendor
/.idea/
/docs
/coverage
/dev
/site
/npm-debug.log
/istanbul-radic-report
/html-report
/jsdoctheme
/src/vendor
/dev
/dist
/.idea-bak
/_site
/.sass-cache
/.tmp
/metro
/examples
/lib/blade-extensions
/lib/highlightjs
/src/_components
/src/_includes
/gh-pages
/styles.tar.gz
/src/styles-old
/Gemfile.lock
/test/web
/src/tscript
/src/plugins
/run.js
/upload
/build
/Gruntfile.bak.js
/lib/grunt
/lib/grunt2
