extends layout

block header
    +page-title("Bootbox", "")
    +page-breadcrumbs
        +breadcrumb("Plugins")
        +breadcrumb("Bootbox", "/plugins/bootbox", true)

block plugin-panel-overview
    +plugin-info("Bootbox", "bootbox")

block plugin-example
    p To be done

block plugin-code
    p To be done
