extends layout

block header
    +page-title("Bootstrap ContextMenu", "")
    +page-breadcrumbs
        +breadcrumb("Plugins")
        +breadcrumb("ContextMenu", "/plugins/bootstrap-contextmenu", true)

block plugin-panel-overview
    +plugin-info("Bootstrap ContextMenu", "bootstrap-contextmenu")

block plugin-example
    p To be done

block plugin-code
    p To be done
