extends layout

block header
    +page-title("Bootstrap switch", "Switches")
    +page-breadcrumbs
        +breadcrumb("Plugins")
        +breadcrumb("Bootstrap switch", "/plugins/bootstrap-switch", true)

block plugin-panel-overview
    +plugin-info("Bootstrap switch", "bootstrap-switch")

block plugin-example
    p To be done

block plugin-code
    p To be done
