extends layout

block header
    +page-title("Bootstrap Datepicker", "")
    +page-breadcrumbs
        +breadcrumb("Plugins")
        +breadcrumb("Bootstrap Datepicker", "/plugins/bootstrap-datepicker", true)

block plugin-panel-overview
    +plugin-info("Bootstrap Datepicker", "bootstrap-datepicker")

block plugin-example
    p To be done

block plugin-code
    p To be done
