extends layout

block header
    +page-title("Bootstrap Maxlength", "")
    +page-breadcrumbs
        +breadcrumb("Plugins")
        +breadcrumb("Bootstrap Maxlength", "/plugins/bootstrap-maxlength", true)

block plugin-panel-overview
    +plugin-info("Bootstrap Maxlength", "bootstrap-maxlength")

block plugin-example
    p To be done

block plugin-code
    p To be done
