extends layout

block header
    +page-title("gTreeTable", "Tree table extension")
    +page-breadcrumbs
        +breadcrumb("Plugins")
        +breadcrumb("gTreeTable", "/plugins/bootstrap-gtreetable", true)

block plugin-panel-overview
    +plugin-info("gTreeTable", "bootstrap-gtreetable")

block plugin-example
    table#gtreetable.table.gtreetable
        thead
            tr
                th Category

block plugin-code
    p To be done
