extends layout

block header
    +page-title("Boostrap Markdown", "")
    +page-breadcrumbs
        +breadcrumb("Plugins")
        +breadcrumb("Boostrap Markdown", "/plugins/bootstrap-markdown", true)

block plugin-panel-overview
    +plugin-info("Boostrap Markdown", "bootstrap-markdown")

block plugin-example
    p To be done

block plugin-code
    p To be done
