extends layout

block header
    +page-title("Bootstrap Confirmation", "")
    +page-breadcrumbs
        +breadcrumb("Plugins")
        +breadcrumb("Bootstrap Confirmation", "/plugins/bootstrap-confirmation", true)

block plugin-panel-overview
    +plugin-info("Bootstrap Confirmation", "bootstrap-confirmation")

block plugin-example
    p To be done

block plugin-code
    p To be done
