extends layout

block header
    +page-title("HighlightJS", "")
    +page-breadcrumbs
        +breadcrumb("Plugins")
        +breadcrumb("HighlightJS", "/plugins/highlightjs", true)

block plugin-panel-overview
    +plugin-info("HighlightJS", "highlightjs")

block plugin-example
    p To be done

block plugin-code
    p To be done
