extends layout

block header
    +page-title("jQuery Cookie", "")
    +page-breadcrumbs
        +breadcrumb("Plugins")
        +breadcrumb("jQuery Cookie", "/plugins/jquery-cookie", true)

block plugin-panel-overview
    +plugin-info("jQuery Cookie", "jquery-cookie")

block plugin-example
    p To be done

block plugin-code
    p To be done
