extends layout

block header
    +page-title("jQuery Nestable", "")
    +page-breadcrumbs
        +breadcrumb("Plugins")
        +breadcrumb("jQuery Nestable", "/plugins/jquery-nestable", true)

block plugin-panel-overview
    +plugin-info("jQuery Nestable", "jquery-nestable")

block plugin-example
    p To be done

block plugin-code
    p To be done
