extends layout

block header
    +page-title("jQuery ScrollTo", "")
    +page-breadcrumbs
        +breadcrumb("Plugins")
        +breadcrumb("jQuery ScrollTo", "/plugins/jquery-scrollto", true)

block plugin-panel-overview
    +plugin-info("jQuery ScrollTo", "jquery.scrollTo")

block plugin-example
    p To be done

block plugin-code
    p To be done
