extends layout

block header
    +page-title("jQuery Inputmask", "")
    +page-breadcrumbs
        +breadcrumb("Plugins")
        +breadcrumb("jQuery Inputmask", "/plugins/jquery-inputmask", true)

block plugin-panel-overview
    +plugin-info("jQuery Inputmask", "jquery.inputmask")

block plugin-example
    p To be done

block plugin-code
    p To be done
