extends layout

block header
    +page-title("jQuery popup overlay", "")
    +page-breadcrumbs
        +breadcrumb("Plugins")
        +breadcrumb("jQuery popup overlay", "/plugins/jquery-popup-overlay", true)

block plugin-panel-overview
    +plugin-info("jQuery popup overlay", "jquery-popup-overlay")

block plugin-example
    p To be done

block plugin-code
    p To be done
