extends layout

block header
    +page-title("Moment", "")
    +page-breadcrumbs
        +breadcrumb("Plugins")
        +breadcrumb("Moment", "/plugins/moment", true)

block plugin-panel-overview
    +plugin-info("Moment", "moment")

block plugin-example
    p To be done

block plugin-code
    p To be done
