extends layout

block header
    +page-title("Scrollbar", "Nice looking scrollbars")
    +page-breadcrumbs
        +breadcrumb("Plugins")
        +breadcrumb("Scrollbar", "/plugins/scrollbar", true)

block plugin-panel-overview
    +plugin-info("Scrollbar", "malihu-custom-scrollbar-plugin")

block plugin-example
    p To be done

block plugin-code
    p To be done
