extends ../../layouts/default

block header
    +page-title("Sidebar new")

block sidebar
    nav.sidebar-nav.navbar-collapse.collapsent
        .loader.loader-light
        ul.sidebar-nav-menu(data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200")

block content
    p hai

block scripts-pre-boot
    script.
        $(function(){
            var sidebar = {};


            sidebar.init = function(){

            };

            sidebar.init();
        });
