include _mixins

+box("Branches")
    each branch in branches
        - var owner = _.isObject(repo.owner) ? repo.owner.login : repo.owner;
        a.btn.btn-block.btn-primary.no-margin-top(href="#", data-owner=owner, data-repo=repo.name, data-branch=branch)=branch
