include ../../../base
extends ../../../layouts/default
block append styles
    +css-vendor('codemirror/lib/codemirror.css')
    +css-vendor('codemirror/theme/zenburn.css')

block header
    +page-title("Button editor", "Easily create buttons")
    +page-breadcrumbs
        +breadcrumb("Buttons", "components/buttons", false, false)
        +breadcrumb("Editor", false, true, true)

include ../../../base
extends ../../../layouts/default
block append styles
    +css-vendor('codemirror/lib/codemirror.css')
    +css-vendor('codemirror/theme/zenburn.css')

block append content
    .portlet.light
        .portlet-body
            .portlet.light
                .portlet-body
                    .row
                        .col-md-3
                            .portlet.light
                                .portlet-title
                                    .caption.font-teal Options
                                .portlet-body
                                    form#btn-editor.form-horizontal

                                        // TYPE
                                        #group-type.form-group
                                            label.col-md-3 Type
                                            .col-md-9
                                                select(data-editor="type").form-control
                                                    option(value="") Default
                                                    option(value="btn-icon-only") Icon

                                        // ICON
                                        #group-icon.form-group.hide
                                            label.col-md-3 Icon
                                            .col-md-9
                                                select(data-editor="icon").form-control
                                                    each icon in site.data.icons
                                                        option(value=icon)= icon

                                        // SIZE
                                        #group-size.form-group
                                            label.col-md-3 Size
                                            .col-md-9
                                                select(data-editor="size").form-control
                                                    option(value="btn-xs") (xs) Extra small
                                                    option(value="btn-sm") (sm) Small
                                                    option(value="btn-md") (md) Medium
                                                    option(value="btn-lg") (lg) Large

                                        // SHAPE
                                        #group-shape.form-group
                                            label.col-md-3 Shape
                                            .col-md-9
                                                select(data-editor="shape").form-control
                                                    option(value="") Default
                                                    option(value="btn-circle") Circle
                                                    option(value="btn-rounded") Rounded

                                        // COLOR
                                        #group-color.form-group
                                            label.col-md-3 Color
                                            .col-md-9
                                                select(data-editor="color").form-control
                                                    each color in site.data.theme.colors
                                                        option(value=color)= color

                                        // FONT COLOR
                                        #group-font-color.form-group
                                            label.col-md-3 Font color
                                            .col-md-9
                                                select(data-editor="font-color").form-control
                                                    option(value="") Default
                                                    each color in site.data.theme.colors
                                                        option(value="font-" + color)= color

                                        // STRIPE COLOR
                                        #group-stripe-color.form-group
                                            label.col-md-3 Stripe color
                                            .col-md-9
                                                select(data-editor="stripe-color").form-control
                                                    option(value="") None
                                                    each color in site.data.theme.colors
                                                        option(value=color + "-stripe")= color
                        .col-md-2
                            .portlet.light
                                .portlet-title
                                    .caption.font-amber-dark
                                        i.fa.fa-eye
                                        |  Preview
                                .portlet-body
                                    #btn-preview
                                        a(href="#").btn.btn-xs.red
                                            | My button

                        .col-md-7
                            .portlet.light
                                .portlet-title
                                    .caption.font-blue-grey
                                        i.fa.fa-code
                                        |  Preview
                                .portlet-body
                                    textarea#btn-code-preview



    //
                                color
                                size
                                shape
                                stripe/icon/normal


block append scripts
    script.
        $(function(){
            // button editor
            var $preview = $('#btn-preview'),
                $form = $('form#btn-editor');

            // CODE PREVIEW
            var editor = CodeMirror.fromTextArea(document.getElementById('btn-code-preview'), {
                mode : 'jade',
                theme: 'zenburn'
            });
            editor.setSize('100%', 70);
            window.cmeditor = editor;

            function setCodePreview($el){
                var value = 'a(href="#")';
                _.each($el[ 0 ].classList, function( className ){
                    value += "." + className;
                });
                $el.find('i').each(function(){
                    value += "\n    i"
                    _.each($(this)[0].classList, function(className){
                        value += "." + className;
                    });
                })
                editor.setValue(value);
            }
            setCodePreview($preview.find('a').first());


            // SELECT TYPES
            var $type = $('select[data-editor="type"]'),
                $icon = $('select[data-editor="icon"]'),
                $size = $('select[data-editor="size"]'),
                $shape = $('select[data-editor="shape"]'),
                $fontColor = $('select[data-editor="font-color"]'),
                $color = $('select[data-editor="color"]'),
                $stripeColor = $('select[data-editor="stripe-color"]');

            // IF TYPE ICON
            $type.on('change', function( e ){
                e.preventDefault();
                console.log('type change', this);
                if( $(this).val() == 'btn-icon-only' && $('#group-icon').hasClass('hide') ){
                    $('#group-icon').removeClass('hide');
                } else {
                    $('#group-icon').addClass('hide');
                }
            })

            // ON CHANGE
            $form.find('select').on('change', function( e ){
                e.preventDefault();

                $preview.html('');
                var $btn = $(document.createElement('a'))
                $btn.textFormat('My button');
                $btn.addClass('btn');


                $btn.addClass(
                    $type.val()
                );
                if($type.val() == 'btn-icon-only'){
                    $btn.html($(document.createElement('i')).addClass('fa fa-' + $icon.val()))
                }

                $btn.addClass($size.val());
                $btn.addClass($shape.val());
                $btn.addClass($color.val());
                $btn.addClass($color.val());
                $btn.addClass($fontColor.val())
                $btn.addClass($stripeColor.val())
                $preview.append($btn);

                $('#btn-code-preview').html($('#btn-preview').html())
                setCodePreview($btn);
            })


        });



