
.top-bevel {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
}
.top-bevel-on-light {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75);
}
.top-bevel-on-dark {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.bottom-bevel {
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bottom-bevel-on-light {
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}
.bottom-bevel-on-dark {
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.bevel,
.bevel-subs > li,
.big-menu > li,
li.big-menu,
.calendar-menu > li,
li.calendar-menu,
.title-menu > li,
li.title-menu {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.no-boxshadow .big-menu > li {
  border-bottom: 1px solid #666666;
}
.bevel-on-light,
.bevel-on-light-subs > li,
.message-menu > li,
li.message-menu {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}
.bevel-on-dark,
.bevel-on-dark-subs > li,
#menu header,
#profile,
#access {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.emboss,
.emboss-subs > li {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.25);
}
.emboss-on-dark,
.emboss-on-dark-subs > li {
  -webkit-box-shadow: inset 0 1px 4px black;
  -moz-box-shadow: inset 0 1px 4px black;
  box-shadow: inset 0 1px 4px black;
}
.bright-text-bevel,
.big-menu,
.title-menu {
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bright-text-bevel-on-dark,
#menu header,
#profile {
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.dark-text-bevel,
.calendar-menu > li,
li.calendar-menu,
.message-menu > li,
li.message-menu {
  -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  -moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}
.dark-text-bevel-on-dark {
  -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
