
@mixin thumb-size($size){
    img.thumb#{$size} {
        height: #{$size}px;
        width: #{$size}px;
    }
}
@include thumb-size(128);
@include thumb-size(96);

@each $pos-property in $util-pos-properties {
    $property-name: map-get($pos-property, 'name');
    $property-selector: map-get($pos-property, 'selector');
    $property-base-value: map-get($pos-property, 'base-value');

    @each $direction-selector in $util-pos-direction-selectors {

        $direction-property: nth($util-pos-direction-properties, index($util-pos-direction-selectors, $direction-selector));

        @if $direction-selector != '' {
            $direction-property: '-' + $direction-property;
        }

        @each $size-selector in $util-pos-size-selectors {
            $i: index($util-pos-size-selectors, $size-selector);

            $selector-seperator: '';
            @if $size-selector != '' {
                $selector-seperator: $util-pos-selector-seperator;
            }

            $selector: $property-selector + $direction-selector + $selector-seperator + $size-selector;
            $property: $property-name + $direction-property;
            $size: $property-base-value * ($i - 1);

            @if $size > 0 { // if size = 0, the px suffix should be ommited according to css rules.
                $size: #{$size}px;
            }

            .#{$selector} {
                &:not(.n) {
                    #{$property}: $size !important;
                }
                &.n {
                    @if $size != 0 {
                        #{$property}: -$size !important;
                    }
                }
            }
        }
    }
}



/* deprecated, remove soon from this line until... */
.with-padding {
    padding: 20px !important;
}

.with-mid-padding {
    padding: 10px !important;
}

.with-small-padding {
    padding: 5px !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0px !important;
}

@mixin position-utility($name, $prefix, $size) {
    $directions: 'top', 'bottom', 'left', 'right';

    $thisprefix: '';
    @if $prefix != '' {
        $thisprefix: $prefix + '-';
    } @else {
        $thisprefix: '';
    }

    @each $direction in $directions {
        .#{$thisprefix}#{$name}-#{$direction} {
            #{$name}-#{$direction}: $size !important;
        }
    }
    .#{$thisprefix}margin {
        #{$name}: $size !important;
    }
}

@each $attr in 'margin', 'padding' {
    @include position-utility($attr, 'no', 0);
    @include position-utility($attr, 'small', 4px);
    @include position-utility($attr, '', 16px);
    @include position-utility($attr, 'mid', 8px);
    @include position-utility($attr, 'large', 30px);
    @include position-utility($attr, 'extra-large', 60px);
    @include position-utility($attr, 'super-large', 90px);
}
/* this line. end deprecated stuff */


/* Absolute positioning */
.relative {
    position: relative;
}

.absolute-left,
.absolute-right {
    position: absolute;
    top: 50%;
    margin-top: -8px;
}

.absolute-left {
    left: 0;
}

.absolute-right {
    right: 0;
}

/* This class disables mouse events on compatible browsers, a polyfill is provded in setup.js for others */
.no-pointer-events {
    pointer-events: none;
}

/* IE7 vertically aligned images fix */
.vert-align {
    display: inline;
    width: 0;
    margin-right: -4px;
}

.no-bg {
    background: none !important;
}
