extends ../layouts/default
block header
    +page-title("Empty layout", "Use this file to start with")

block content
    p This is an empty starter layout.
block body-end
block site-data
block script
block scripts
    +js-script('init.js')
    +js-script('demo/your_custom_script.js')
    +js-script('boot.js')
