extends layouts/default

block header
    +page-title("Github editor").pull-left
    .pull-right
        .small-padding-top.extra-large-margin-right
            .btn-toolbar(role="toolbar")
                .btn-group(role="group")
                    a.btn.btn-sm.blue-light.hide#github-auth(href="#") Login
block content
    .row
        .col-md-3
            #github-editor-side-contents
        .col-md-9
            #github-editor-codepad
    .row
        .col-md-3
            #github-editor-repos
        .col-md-7
            #github-editor-contents
        .col-md-2
            #github-editor-branches

block scripts-pre-boot
    script.
        (function(){
            packadic.bindEventHandler('started', function(){
                require([ 'jquery', 'github-editor' ], function( $, editor ){
                    window.editor = editor;
                    editor.init('#github-editor', {
                        // settings
                    });

                    editor.getAuthButton($('#github-auth'));

                    if(!editor.api.isAuthorized()){
                        return;
                    }
                    editor.showRepositories();
                    //editor.showFileEditor(editor.github.getRepo('robinradic', 'blade-extensions'), {}, 'develop', 'README.md');


                })
            })
        }.call())
