extends ../layouts/default
block header
    +page-title("Home", "Welcome!")


block content
    .row
        .col-md-3
            +box.widget
                .widget-icon.red
                    i.fa.fa-list
                .widget-content
                    .title 102
                    .comment 13
                .clearfix
        .col-md-3
            +box.widget
                .widget-icon.dark-yellow
                    i.fa.fa-info
                .widget-content
                    .title 11
                    .comment Messages
                .clearfix
        .col-md-3
            +box.widget
                .widget-icon.blue
                    i.fa.fa-users
                .widget-content
                    .title 44
                    .comment Users
                .clearfix

        .col-md-3
            +box.widget
                .widget-icon.blue-grey
                    i.fa.fa-file
                .widget-content
                    .title 102
                    .comment Files uploaded
                .clearfix


    .row
        .col-md-6
            +box("Alerts", "info")
                +alert("success", "Woot this is ok") You successfully read this important alert message.
                +alert("success", "Woot ok", true) You successfully read this important alert message.
                +alert("info") This alert needs your attention, but it's not super important.
                +alert("warning", true) This is not looking good
                +alert("danger") Change a few things up and try submitting again.
                +alert("danger", true) Change a few things up and try submitting again.

        .col-md-6
            +box("Users", "users").no-padding
                table.table.table-hover.table-light.no-margin
                    thead
                        th User
                        th Last login
                        th.text-right Options
                    tbody
                        - users = ['Radic', 'Robin', 'Angelar', 'Typeman', 'Xezar', 'Filao', 'Imbar']
                        each user in users
                            tr
                                td
                                    a(href="#")= user
                                td 2 days go
                                td.text-right
                                    a(href="#").btn.btn-xs.btn-primary
                                        i.fa.fa-pencil
                                        |  Edit
                                    a(href="#").btn.btn-xs.btn-danger
                                        i.fa.fa-remove
                                        |  Delete
    .row
        .col-md-4
            | sdf
        .col-md-4
            | sdf
        .col-md-4
            | sdf
