extends ../layouts/default

mixin layform(title)
    .col-sm-12.col-md-6
        +box(title).box-form
            form(role="form")&attributes(attributes)
                block

block header
    +page-title("Layouts", "Checkitouts")

block content
