mixin dropdown-menu()
    - _addClassAttribute('wide', 'dropdown-wide', attributes)
    - _addClassAttribute('inverse', 'dropdown-menu-inverse', attributes)
    - _addClassAttribute('notifications', 'dropdown-notifications', attributes)
    - _addClassAttribute('tasks', 'dropdown-task-list', attributes)
    ul(role="menu").dropdown-menu&attributes(attributes)
        block


mixin dropdown-task(title, percent)
    li
        a(href='#')
            .task
                span=title
                span.percent=percent+"%"
            +progressbar(0, 100, percent)&attributes(attributes)

mixin dropdown-notification(time, icon, iconBg)
    +lia
        .ico(class='bg-' + iconBg)
            i(class='fa fa-' + icon)
        .details
            block
            span.time=time + ' ago'
