mixin dropdown-task(title, percent)
    li
        a(href='#')
            .task
                span=title
                span.percent=percent+"%"
            +progressbar(0, 100, percent)&attributes(attributes)

mixin dropdown-notification(time, icon, iconBg)
    +lia
        .label(class=iconBg)
            i(class='fa fa-' + icon)
        .details
            block
            span.time=time + ' ago'
