mixin dropdown-task(title, percent)
    li
        a(href='#')
            .task
                span=title
                span.percent=percent+"%"
            +progressbar(0, 100, percent)&attributes(attributes)
