- function _inputMeta (attributes) {
-     _unlessClassAttribute('noFormControl', 'form-control', attributes)
-     if (attributes.lg) {
-         _addClassAttribute('lg', 'input-lg', attributes)
-     } else if (attributes.sm) {
-         _addClassAttribute('sm', 'input-sm', attributes)
-     } else if (attributes.xs) {
-         _addClassAttribute('xs', 'input-xs', attributes)
-     }
-}

mixin form
    - attributes.role = attributes.role || 'form'
    - _addClassAttribute('horizontal', 'form-horizontal', attributes)
    - _addClassAttribute('inline', 'form-inline', attributes)
    form&attributes(attributes)
        block
