mixin widget(title, icon)
    - icon = icon || false;
    - title = title || false;
    .widget
        if title
            .widget-header
                if icon
                    i(class="fa fa-" + icon)
                |  !{title}
        .widget-body&attributes(attributes)
            block
