div(id="codepad-container-" + id)
    .codepad-toolbar.btn-toolbar.no-margin-left.hide
        .btn-group.btn-group-sm.no-margin-left.codepad-toolbar-left
        .btn-group.btn-group-sm.pull-right.codepad-toolbar-right
            select.codepad-editor-modelist(data-style="blue-grey btn-sm", data-width="200px", data-header="Modex", data-size="7")
            select.codepad-editor-themelist(data-style="blue-grey btn-sm", data-width="200px", data-header="Themes", data-size="7")

    .codepad-editor-container
        pre.codepad-editor

style.
    .codepad-toolbar {
        background: #D0D0D0;
        border: 1px solid #BCBCBC;
        border-bottom: none;
    }
