- var table = typeof table == 'object' ? table : {}
- table.class = typeof table.class == 'string' ? table.class : "table-hover table-striped table-light table-bordered"
table(class="table " + table.class)
    thead
        if table.cols
            each col in table.cols
                th&attributes(col.th || null)
                    | #{col.content}
    tbody
        if table.rows
            each row in table.rows
                tr&attributes(row.tr || null)
                    each rowCol in row.tds
                        td&attributes(rowCol.td || null)
                            | #{rowCol.content}

