
body {
    background-color: $bg-color;
}

main {
    background: $main-content-bg;
    background-color: $main-content-bg-color;
}

section#top.navbar {

    background: $section-top-bg;
    background-color: $section-top-bg-color;

    .search-form {
        background: $section-top-search-bg-color;
        &:hover {
            background: $section-top-search-bg-hover-color;
        }

        border-left: 1px solid $header-menu-nav-border-left-color;
        > .input-group {
            border-left: 1px solid $header-menu-nav-border-right-color;
            .form-control {
                color: $section-top-search-font-color;

                @include placeholder($section-top-search-placeholder-font-color);

                &:focus {
                    @include box-shadow(none);
                    outline-color: transparent !important;
                    border-color: transparent !important;
                }
            }

            .input-group-btn {
                .btn.submit {
                    > i {
                        color: $section-top-search-font-color;
                    }
                }
            }
        }

        &.open {
            background: $section-top-search-bg-color-on-open;
        }
    }

    /* Toggler button for sidebar expand/collapse and responsive sidebar menu */
    .menu-toggler {
        background-image: image_url('sidebar_toggler_icon_#{$theme-name}.png');
        &.sidebar-toggler {
            background: $section-top-sidebar-menu-toggler-bg;
            > i.fa {
                color: $brand-main-color;
            }
            &:hover {
                background-color: $section-top-sidebar-menu-toggler-bg-hover;
                > i.fa {
                    color: lighten($brand-main-color, 20%);
                }
            }
        }
    }

    .header-menu {

        > ul.navbar-nav {

            border-left: 1px solid $header-menu-nav-border-right-color; // should be reversed
            border-right: 1px solid $header-menu-nav-border-left-color; // should be reversed

            > li {

                border-left: 1px solid $header-menu-nav-border-left-color;
                border-right: 1px solid $header-menu-nav-border-right-color;
                &:first-child {

                }
                > a {
                    color: #888888;
                    background: transparent;
                    &:hover {
                        background: $header-menu-nav-dropdown-bg-color;
                    }
                }

                .dropdown-menuBAKUP {
                    background: $header-menu-nav-dropdown-bg-color;
                    border: 0;

                    &:after {
                        border-bottom-color: $header-menu-nav-dropdown-bg-color;
                    }

                    > li.external {
                        background: $header-menu-nav-dropdown-header-bg-color;

                        > h3 {
                            color: $header-menu-nav-dropdown-header-font-color;
                        }

                        > a {
                            &:hover {
                                color: lighten($link-color, 11%);
                            }
                        }
                    }

                    &.dropdown-menu-default,
                    .dropdown-menu-list {
                        > li {
                            a {
                                color: $header-menu-nav-dropdown-item-font-color;
                                border-bottom: 1px solid $header-menu-nav-dropdown-item-border-color !important;

                                > i {
                                    color: $header-menu-nav-dropdown-item-icon-color;
                                }

                                &:hover {
                                    background: $header-menu-nav-dropdown-item-bg-color-on-hover;
                                }
                            }
                        }
                    }

                    &.dropdown-menu-default {
                        > li {
                            a {
                                border-bottom: 0 !important;
                            }

                            &.divider {
                                background: $header-menu-nav-dropdown-default-menu-divider;
                            }
                        }
                    }
                }
            }

        }
    }
}

.sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover,
.sidebar-nav {
    background-color: $bg-color;
    .sidebar-nav-menu {
        // First level
        > li {
            > a {
                background: $sidebar-menu-link-bg;
                color: $sidebar-menu-link-color;
                border-top: 1px solid $sidebar-menu-divider-border-color;
                > i {
                    color: $sidebar-menu-icon-color;
                }

                > .arrow {
                    &:before,
                    &.open:before {
                        color: $sidebar-menu-arrow-color;
                    }
                }
            }

            &.heading {
                > h3 {
                    color: darken($sidebar-menu-link-color, 23%);
                }
            }

            &:hover,
            &.open {
                > a {
                    background: $sidebar-menu-link-bg-hover;
                    color: $sidebar-menu-link-color-hover;

                    > i {
                        color: $sidebar-menu-icon-color-hover;
                    }

                    > .arrow {
                        &:before,
                        &.open:before {
                            color: $sidebar-menu-arrow-color-hover;
                        }
                    }
                }
            }

            &.active,
            &.active.open {
                > a {
                    background: $sidebar-menu-link-bg-active;
                    color: $sidebar-menu-link-color-active;
                    border-top-color: transparent;

                    > i {
                        color: $sidebar-menu-icon-color-active;
                    }

                    > .arrow {
                        &:before,
                        &.open:before {
                            color: $sidebar-menu-arrow-color-active;
                        }
                    }
                }
            }

            &.active + li {
                > a {
                    border-top-color: transparent;
                }
            }

            &.active.open + li {
                > a {
                    border-top-color: $sidebar-menu-divider-border-color;
                }
            }

            &:first-child > a {
                border-top: none !important;
            }
            &:last-child {
                > a {
                    border-bottom: 1px solid transparent !important;
                }
            }
        }

        /* All Levels */

        .sidebar-nav-closed &:hover {
            .sub-menu {
                background-color: $bg-color;
            }
        }

        .sub-menu {
            > li {
                border-top: 1px solid $sidebar-sub-menu-divider-border-color;
                > a {
                    color: $sidebar-sub-menu-link-color;
                    background: $sidebar-sub-menu-bg;
                    > i {
                        color: $sidebar-sub-menu-icon-color;
                    }
                    > .arrow {
                        &:before,
                        &.open:before {
                            color: $sidebar-sub-menu-arrow-color;
                        }
                    }
                }

                &:hover > a,
                &.open:not(.active) > a {
                    color: $sidebar-sub-menu-link-color-hover;
                    background: $sidebar-sub-menu-bg-hover;
                    > i {
                        color: $sidebar-sub-menu-icon-color-hover;
                    }
                    > .arrow {
                        &:before,
                        &.open:before {
                            color: $sidebar-sub-menu-arrow-color-hover;
                        }
                    }
                }

                &.active > a {
                    color: $sidebar-sub-menu-link-color-active;
                    background: $sidebar-sub-menu-bg-active;
                    > i {
                        color: $sidebar-sub-menu-icon-color-active;
                    }
                    > .arrow {
                        &:before,
                        &.open:before {
                            color: $sidebar-sub-menu-arrow-color-active;
                        }
                    }
                }
            }
        }
    }

    .sidebar-nav-menu.sidebar-nav-menu-hover-submenu {
        .sub-menu > li {

            > a {
                background: $sidebar-hover-sub-menu-bg;
            }
            //background: $sidebar-menu-link-bg-color-on-active;

            &:hover > a,
            &.open:not(.active) > a {
                //background: $sidebar-menu-sub-menu-link-bg-color-on-hover !important;
                background: $sidebar-hover-sub-menu-bg-hover;
            }

            &.active > a {
                //@include sidebar-nav-menu-bg($sidebar-menu-link-bg-color-on-active, $sidebar-menu-sub-menu-link-bg-color-on-hover);
                background: $sidebar-hover-sub-menu-bg-active;
            }
        }
    }

}

// bottom section
section#bottom {
    footer.bottom {
        color: $footer-default-font-color;
    }

    background: $section-bottom-bg;

    .section-bottom-fixed & {
        //#   background-color: $footer-fixed-bg-color;
    }
}

@media (min-width: $screen-md-min) {
    .sidebar-nav-menu.sidebar-nav-menu-hover-submenu {
        > li:hover {
            > .sub-menu {
                box-shadow: 5px 5px rgba($sidebar-sub-menu-box-shadow-color, 0.2);
            }
        }
    }

    .sidebar-nav-menu.sidebar-nav-menu-closed {
        > li:hover {
            box-shadow: 5px 5px rgba($sidebar-sub-menu-box-shadow-color, 0.2);
            > .sub-menu {
                box-shadow: 5px 5px rgba($sidebar-sub-menu-box-shadow-color, 0.2);
            }
        }
    }

    .sidebar-nav-fixed:not(section#bottom-fixed) {
        main {
            border-bottom: 0;
        }

        section#bottom {
            background-color: #fff;

            footer.bottom {
                color: #333;
            }
        }
    }

    .page-boxed {
        background-color: $for-min-992px-page-boxed-bg-color !important;

        /* Page container */
        section#page {
            background-color: $bg-color;
            border-left: 1px solid $for-min-992px-page-boxed-page-container-bg-color;
            border-bottom: 1px solid $for-min-992px-page-boxed-page-container-bg-color;
        }

        &.sidebar-nav-reversed {
            section#page {
                border-left: 0;
                border-right: 1px solid $for-min-992px-page-boxed-page-container-bg-color;
            }
        }

        &.sidebar-nav-fixed {
            section#page {
                border-left: 0;
                border-bottom: 0;
            }
        }

        &.sidebar-nav-reversed.sidebar-nav-fixed {
            section#page {
                border-left: 0;
                border-right: 0;
                border-bottom: 0;
            }
        }

        /* Page sidebar */

        &.sidebar-nav-fixed {
            .sidebar-nav {
                border-left: 1px solid $for-min-992px-page-boxed-sidebar-fixed-border-color;
            }
        }

        &.sidebar-nav-reversed.sidebar-nav-fixed {
            .sidebar-nav {
                border-right: 1px solid $for-min-992px-page-boxed-sidebar-fixed-border-color;
                border-left: 0;
            }
        }

        /* Page footer */

        &.sidebar-nav-fixedsection#bottom-fixed {
            section#bottom {
                background-color: $for-min-992px-page-boxed-bg-color !important;

                footer.bottom {
                    color: $footer-default-font-color;
                }
            }
        }
    }

    .sidebar-nav-menu-hover-submenu {
        li {
            &:hover {
                a {
                    > .arrow {
                        border-right: 8px solid $sidebar-hover-sub-menu-bg-color;

                        .sidebar-nav-reversed & {
                            border-left: 8px solid $sidebar-hover-sub-menu-bg-color;
                        }
                    }
                }

                > .sub-menu {
                    background: $sidebar-hover-sub-menu-bg-color !important;
                }
            }
        }
    }
}

@media (max-width: $screen-sm-max) {
    /* 991px */
    /* Page sidebar */
    .sidebar-nav {
        background-color: $mobile-sidebar-menu-bg-color;

        .sidebar-nav-menu {
            > li {
                > a {
                    border-top: 1px solid $bg-color;
                }

                &:hover,
                &.open {
                    > a {
                        background: $mobile-sidebar-menu-link-bg-color-on-hover;
                    }
                }

                &:last-child {
                    > a {
                        border-bottom: 0 !important;
                    }
                }

                .sub-menu {
                    background-color: $mobile-sidebar-menu-bg-color !important;
                }
            }
        }

    }
}

@media (max-width: $screen-xs-min) {
}
