

// own variables
$web-font: "//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,800,700|Karla:400,700italic,700,400italic|Montserrat:400,700";
$font-path: '../fonts';

// layout
$side-wrapper-width: 250px;
$content-padding: 20px;
$content-padding-left: $content-padding + 10px;

// theme
$bg-color: #F1F3FA;
$sidenav-color: #aaa;
$sidenav-header-color: #aaa;
$sidenav-icon-color: #aaa;
$sidenav-toggle-color: #aaa;

$widget-header-color: #c3c3c3;

// 3rd party override variables
@import "variables/bootstrap";
@import "variables/uniform";
@import "variables/compass";
@import "variables/font-awesome";

// 3rd party variables
@import '../vendor/bootstrap-sass-official/assets/stylesheets/bootstrap/variables';
@import '../vendor/Buttons/scss/options';

// 3rd party mixins
@import '../vendor/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins';
@import '../vendor/sass-material-colors/sass/sass-material-colors';
@import "compass";

// own mixins
@import "mixins/helpers";
@import "mixins/general";
