
// order of .scss definitions/files

//--- start of base file: << imports _{name}.scss files >> exports 1 {name}.scss file that will be processed to {name}.css
@import "base";

// 10.0 MY components
@import "components/type";
@import "components/buttons";
@import "components/labels";
@import "components/tabs";
@import "components/form_layouts";

@import "components/box";
@import "components/scrollbar";
@import "components/popover";
@import "components/tables";
@import "components/modals";
@import "components/loader";
@import "components/share-buttons";
@import "components/widgets";

@import "components/color-variants";


@import "components/utilities/positioning";
@import "components/utilities/shadows";
//@import "components/utilities/bevelgloss";
@import "components/utilities/effects";


@import "components/bootstrap-material";

blockquote {

    border-left: 5px solid #33336E;
    background: #F0F0F0 ;
    border-radius: 4px ;
}

#page-loader {
    display: none;
}
body.page-loading {

    @include createLoader(page, #fefefe);
    //background: #fefefe;

    #page-loader {
        display: block;
    }

    section#top,
    section#page,
    section#bottom,
    > .clearfix {
        display: none;
        transition: all 2s;
    }
}

