html {
    height: 100%;
    overflow-y: scroll;
}

body {
    height: 100%;
    position: relative;

    #site-wrapper {
        height: 100%;

        #top-wrapper {}

        #page-wrapper {
            height: 100%;

            #sidebar-wrapper {
                height: 100%;
                width: $side-wrapper-width;
                position: fixed;
            }
            #header-wrapper {
                padding-left: $side-wrapper-width;


            }
            #content-wrapper {
                padding: $content-padding;
                padding-left: $side-wrapper-width + $content-padding-left;
            }

        }
    }
    &.no-sidebar{}
    &.fixed-top-nav {
        #top-wrapper .top-nav {
            @extend .navbar-fixed-top;
        }
        #page-wrapper {
            padding-top: 30px;
        }
    }
    &.static-top-nav {
        #top-wrapper .top-nav {
            @extend .navbar-static-top;
        }
    }
    &.layout-boxed {
        #site-wrapper {
            #page-wrapper {
                @extend .container
            }
        }
    }
}


#top-wrapper .top-nav {
    @extend .navbar;
    @extend .navbar-default;
    @extend .navbar-inverse;

    min-height: 30px;
    .navbar-brand{
        height: 30px;
        padding: 5px 15px;
    }
    ul.navbar-nav {
        li a {
            padding: 3px;
        }
    }
    margin-bottom: 0;
}

$sidebar-bg-left: #333333;
$sidebar-bg-right: #222222;
$sidebar-bg-left-hover: #33336E;
$sidebar-bg-right-hover: #222222;
$sidebar-bg-left-width: 35px;

@mixin sidebar-bg($left: $sidebar-bg-left, $right: $sidebar-bg-right, $width: $sidebar-bg-left-width){
    background-image: -webkit-linear-gradient(left, color-stop($left $width), color-stop($right $width));
    background-image: linear-gradient(to right, $left $width, $right $width);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($left)}', endColorstr='#{ie-hex-str($right)}', GradientType=1);
}


#sidebar-wrapper {

    @include sidebar-bg;


    .side-nav {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                color: $sidenav-color;
                display: block;
                border-top: 1px solid rgba(0, 0, 0, 0.3);
                box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
                a {
                    display: block;
                    color: $sidenav-color;
                    outline: none;
                    padding: 10px 10px;
                    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
                    &.without-icon {

                        padding: 10px 42px;
                    }
                    i {
                        margin-right: 20px;
                        color: $sidenav-icon-color;
                    }


                }


                .fa.arrow {
                    margin-right: 0;
                    float: right;
                    padding: 4px 10px;
                }
                .fa.arrow:before {
                    content: "\f104";
                }

                &.active > a > .fa.arrow:before {
                    content: "\f107";
                }

            }

            li.active > a, a:hover, a:focus, a:active {
                outline: none;
                text-decoration: none;
                @include sidebar-bg($sidebar-bg-left-hover);
                span {
                    color: lighten($sidenav-color, 20);
                }
            }
            ul a {
                padding-left:50px;

                @include sidebar-bg($sidebar-bg-left, rgba(lighten($sidebar-bg-right, 25), 0.1));

                font-size: 12px;
            }

            ul ul a {
                padding-left: 60px;
                @include sidebar-bg($sidebar-bg-left, rgba(lighten($sidebar-bg-right, 50), 0.1));
                font-size: 10px;
            }
            li.side-nav-header {
                padding: 10px 20px;
                background: $sidebar-bg-left;
                h1, h2, h3, h4, h5, h6 {
                    margin-top: 2px;
                    margin-bottom: 0;
                    display: inline-block;
                }
                a#side-nav-toggle {
                    @include reset-box-model;
                    @include box-shadow(none);
                    float: right;
                    border: 1px solid rgba(0, 0, 0, 0.3);
                    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
                    color: $sidenav-header-color;
                    background: $sidebar-bg-left;
                    padding: 1px 8px;
                    i {
                        margin: 0;
                        font-size: 14px;
                        color: $sidenav-toggle-color;
                    }
                    &.h3 i {
                        font-size: 24px
                    }

                    &:hover{
                        background: $sidebar-bg-right;
                    }

                }

            }

        }

    }

}


body.sidebar-closed {
    #sidebar-wrapper {
        width: $sidebar-bg-left-width !important;
        .side-nav ul {
            li.side-nav-header {
                padding: 10px 5px;
                h1, h2, h3, h4, h5, h6 {
                    display:none;
                }
                a#side-nav-toggle {
                    @include box-shadow(none);
                    border: none;
                    float: none;
                    padding: 1px 2px;
                }
            }
            li {

            }
            li a {
                border-top: none;
                @include box-shadow(none);
                padding: 10px 10px;
                span { display: none }
            }
            .fa.arrow {
                display: none;
            }
        }
    }
}


@import "layout/page-header";
