@mixin bg-img($name){
    background: url($image-path + '/images/bg/' + $name + '.png') repeat #404040;
}

@function content-bg($nr: false, $light: false){
    $img: 'content_bg';
    @if $light {
        $img: $img + '_light';
    }
    @if type_of($nr) == 'number' {
        @if $nr > 0 {
            $img: $img + '_' + $nr;
        }
    }
    @return image_url('bg/' + $img + '.png') repeat;

}

@mixin content-bg($nr: false, $light: false){
    background: content-bg($nr, $light);
}

@function texture-bg($name, $color: transparent)
{
    @return image_url('textures/' + $name + '.png') repeat $color;
}
@mixin texture-background($name, $color: transparent){
    background: texture-bg($name, $color);
}

@function sidebar-submenu-bg($bg-left, $bg-right, $bg-left-width: $sidebar-collapsed-width, $to: right){
    @return linear-gradient(to $to, $bg-left $bg-left-width, $bg-right $bg-left-width) repeat-x;
}

@function sidebar-submenu-2-bg($bg-left, $bg-left-2, $bg-right, $bg-left-width: $sidebar-collapsed-width, $to: right){
    @return linear-gradient(to $to,
        $bg-left $bg-left-width - 10px,
        $bg-left-2 $bg-left-width - 10px,
        $bg-left-2 $bg-left-width,
        $bg-right $bg-left-width) repeat-x;
}




@function sidebar-submenu-3-bg($bg-left, $bg-left-2, $bg-left-3, $bg-right, $bg-left-width: $sidebar-collapsed-width, $to: right){
    @return linear-gradient(to $to,
        $bg-left $bg-left-width,
        $bg-left-2 $bg-left-width - 10px,
        $bg-left-2 $bg-left-width - 10px,
        $bg-left-3 $bg-left-width + 10px,
        $bg-left-3 $bg-left-width + 10px,
        $bg-right $bg-left-width + 10px) repeat-x;
}


@mixin sidebar-nav-menu-bg($bg-left, $bg-right, $bg-left-width: $sidebar-collapsed-width, $to: right){
    @include background-image(linear-gradient(to $to, $bg-left $bg-left-width, $bg-right $bg-left-width));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($bg-left)}', endColorstr='#{ie-hex-str($bg-right)}', GradientType=1);
}




@function inverse-side($side) {
    @if      $side == top    { @return bottom; }
    @else if $side == bottom { @return top; }
    @else if $side == left   { @return right; }
    @else if $side == right  { @return left; }
}

@mixin linear-gradient($gradientLine, $colorStops...) {
    background-image: -webkit-linear-gradient($gradientLine, $colorStops);
    background-image:    -moz-linear-gradient($gradientLine, $colorStops);
    background-image:      -o-linear-gradient($gradientLine, $colorStops);
    @if length($gradientLine) == 2 {
        background-image:         linear-gradient(to #{inverse-side(nth($gradientLine, 1))} #{inverse-side(nth($gradientLine, 2))}, $colorStops);
    } @else {
        background-image:         linear-gradient(to #{inverse-side($gradientLine)}, $colorStops);
    }
}
