@mixin bg-img($name){
    background: url($image-path + '/images/bg/' + $name + '.png') repeat #404040;
}

@function content-bg($nr: false, $light: false){
    $img: 'content_bg';
    @if $light {
        $img: $img + '_light';
    }
    @if type_of($nr) == 'number' {
        @if $nr > 0 {
            $img: $img + '_' + $nr;
        }
    }
    @return url($image-path + '/images/bg/' + $img + '.png') repeat;
}

@mixin content-bg($nr: false, $light: false){
    background: content-bg($nr, $light);
}

@function sidebar-submenu-bg($bg-left, $bg-right, $bg-left-width: $sidebar-collapsed-width, $to: right){
    @return linear-gradient(to $to, $bg-left $bg-left-width, $bg-right $bg-left-width) repeat-x;
}

@function sidebar-submenu-2-bg($bg-left, $bg-left-2, $bg-right, $bg-left-width: $sidebar-collapsed-width, $to: right){
    @return linear-gradient(to $to,
        $bg-left $bg-left-width - 10px,
        $bg-left-2 $bg-left-width - 10px,
        $bg-left-2 $bg-left-width,
        $bg-right $bg-left-width) repeat-x;
}


@function sidebar-submenu-3-bg($bg-left, $bg-left-2, $bg-left-3, $bg-right, $bg-left-width: $sidebar-collapsed-width, $to: right){
    @return linear-gradient(to $to,
        $bg-left $bg-left-width,
        $bg-left-2 $bg-left-width - 10px,
        $bg-left-2 $bg-left-width - 10px,
        $bg-left-3 $bg-left-width + 10px,
        $bg-left-3 $bg-left-width + 10px,
        $bg-right $bg-left-width + 10px) repeat-x;
}


@mixin sidebar-nav-menu-bg($bg-left, $bg-right, $bg-left-width: $sidebar-collapsed-width, $to: right){
    @include background-image(linear-gradient(to $to, $bg-left $bg-left-width, $bg-right $bg-left-width));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($bg-left)}', endColorstr='#{ie-hex-str($bg-right)}', GradientType=1);
}



@mixin box-header-variant($text-color: $text-color, $content-bg-nr: false, $content-bg-light: false){
    color: $text-color;
    @include content-bg($content-bg-nr, $content-bg-light);
    h3 {
        @include text-shadow(0px 1px 1px rgba($text-color, 0.18));
    }

}
