

// Theme Colors Settigns

// Main settings
$brand-main-color:                                               		#33336E !default;
$brand-main-font-color:													#ffffff !default;

// Body and header
$bg-color:                                                         		#3d3d3d !default;

// widgets
$widget-header-color:                                                   #c3c3c3 !default;

// boxes
$box-bg-color:                                                          #fff !default;
$box-border-color:                                                      #e9e9e9 !default;
$box-shadow:                                                            0 1px 1px rgba(0, 0, 0, 0.05) !default;
$box-radius:                                                            2px !default;
$box-header-text-color:                                                 #c3c3c3 !default;
$box-header-content-bg-nr:                                              2 !default;
$box-header-content-bg-light:                                           false !default;



// section#top
$section-top-bg:                                                        content-bg(3, false) !default;
$section-top-bg-color:                                                  #444 !default;

// Header search
//$header-bg-color:                                                  		#1f1f1f;

$header-search-bg-color:                                        		darken($section-top-bg-color, 4%) !default;
$header-search-bg-hover-color:                                  		lighten($section-top-bg-color, 20%) !default;
$header-search-bg-color-on-open:                                 		$header-search-bg-hover-color !default;
$header-search-font-color:                                      		#999999 !default;
$header-search-placeholder-font-color:                          		darken($header-search-font-color, 1%) !default;


$main-content-bg:                                                       content-bg(2, true) !default;
$main-content-bg-color:                                                 #fff !default;

// Sidebar menu
$sidebar-menu-devider-border-color:                             		darken(#4d4d4d, 2%) !default;

$sidebar-menu-top-level-bg-left:                                        #222222 !default;
$sidebar-menu-top-level-bg-right:                                       #333333 !default;
$sidebar-menu-top-level-bg-left-hover:                                  $brand-main-color !default;
$sidebar-menu-top-level-bg-right-hover:                                 #222222 !default;

$sidebar-menu-link-bg-color-on-hover:                           		#303030 !default;
$sidebar-menu-link-bg-color-on-active:                          		$brand-main-color;


$sidebar-menu-link-font-color:                                  		#d9d9d9 !default;
$sidebar-menu-link-font-color-on-hover:                         		$sidebar-menu-link-font-color !default;
$sidebar-menu-link-font-color-on-active:                        		#ffffff !default;

$sidebar-menu-link-icon-font-color:                             		#888888 !default;
$sidebar-menu-link-icon-font-color-on-active:                   		$sidebar-menu-link-font-color-on-active !default;
$sidebar-menu-link-icon-font-color-on-hover:                            $sidebar-menu-link-icon-font-color !default;

$sidebar-menu-arrow-color:                                      		#777777 !default;
$sidebar-menu-arrow-color-on-active:                            		$sidebar-menu-top-level-bg-left-hover;
$sidebar-menu-arrow-color-on-hover:                                     $sidebar-menu-link-icon-font-color-on-hover !default;



// sidebar sub menu
$sidebar-menu-sub-menu-box-shadow-color:                                $sidebar-menu-link-bg-color-on-hover !default;
$sidebar-menu-sub-menu-link-font-color:                         		#bdbdbd !default;
$sidebar-menu-sub-menu-link-icon-font-color:                    		$sidebar-menu-arrow-color !default;
$sidebar-menu-sub-menu-link-bg-color-on-hover:                  		lighten($bg-color, 4%) !default;
$sidebar-menu-sub-menu-link-icon-font-color-on-hover:                   $sidebar-menu-link-icon-font-color-on-hover !default;


//$sidebar-menu-sub-menu-to: right;
//$sidebar-menu-sub-menu-to-width: $sidebar-collapsed-width;
$sidebar-menu-sub-menu-bg:                                              sidebar-submenu-bg(#333333, $bg-color, $sidebar-collapsed-width, right) !default;
//$sidebar-menu-sub-menu-bg-hover: #333;
$sidebar-menu-sub-menu-bg-hover:   sidebar-submenu-2-bg(
        #333333,
        #242424,

                                    $sidebar-menu-sub-menu-link-bg-color-on-hover,
                                    $sidebar-collapsed-width, right ) !default;

//@include sidebar-nav-menu-bg($sidebar-menu-link-bg-color-on-active, $sidebar-menu-sub-menu-link-bg-color-on-hover);
$sidebar-menu-sub-menu-bg-active:   sidebar-submenu-3-bg(

        $brand-main-color,
        #242424,
        #242424,
        $sidebar-menu-sub-menu-link-bg-color-on-hover,
                                    $sidebar-collapsed-width,  right ) !default;



$sidebar-menu-sub-menu-divider-border-color: #333333 !default;

$section-top-sidebar-menu-toggler-bg:                                   $sidebar-menu-top-level-bg-left !default;
$section-top-sidebar-menu-toggler-bg-hover:                             $sidebar-menu-top-level-bg-right !default;



$sidebar-menu-hover-sub-menu-bg-color:									lighten($sidebar-menu-link-bg-color-on-hover, 4%) !default;

// Sidebar for mobile
$mobile-sidebar-menu-bg-color:                           				darken($bg-color, 7%) !default;
$mobile-sidebar-menu-link-bg-color-on-hover:             				darken($bg-color, 4%) !default;

// Light sidebar menu
$light-sidebar-menu-link-border-color:                                  $brand-main-color !default;
$light-sidebar-menu-link-bg-color-on-hover:                             lighten($bg-color, 2%) !default;
$light-sidebar-menu-link-bg-color-on-active:                            lighten($bg-color, 4%) !default;
$light-sidebar-menu-link-font-color-on-active:                          #f1f1f1 !default;
$light-sidebar-menu-link-icon-color-on-active:                          #eeeeee !default;
$light-sidebar-menu-link-arrow-color-on-active:                         #eeeeee !default;

$light-sidebar-menu-sub-menu-bg-color:                                  lighten($bg-color, 2%) !default;
$light-sidebar-menu-sub-menu-link-bg-color-on-hover:					lighten($bg-color, 4%) !default;

$mobile-light-sidebar-menu-sub-menu-bg-color:                           $mobile-sidebar-menu-bg-color !default;
$mobile-light-sidebar-menu-link-bg-color-on-hover:             			lighten($mobile-sidebar-menu-bg-color, 3%) !default;
$mobile-light-sidebar-menu-link-bg-color-on-active:             		lighten($mobile-sidebar-menu-bg-color, 3%) !default;
$mobile-light-sidebar-menu-sub-menu-link-bg-color-on-hover:             lighten($mobile-sidebar-menu-bg-color, 3%) !default;

// Sidebar search
$sidebar-search-bg-color:                                               darken($bg-color, 5%) !default;
$sidebar-search-bottom-border-color:                            		lighten($sidebar-menu-devider-border-color, 0%) !default;
$sidebar-search-full-border-color:                              		lighten($sidebar-menu-devider-border-color, 0%) !default;
$sidebar-search-input-font-color:                               		lighten($sidebar-menu-devider-border-color, 8%) !default;
$sidebar-search-input-placeholder-font-color:                   		lighten($sidebar-menu-devider-border-color, 8%) !default;

// Footer
$footer-default-font-color:                                     		lighten($bg-color, 40%) !default;
$footer-default-go-top-bg-color:                                		lighten($bg-color, 7%) !default;
$footer-default-go-top-icon-font-color:                          		lighten($bg-color, 30%) !default;
$footer-fixed-bg-color: 												darken($bg-color, 7%) !default;

//Boxed layout
$for-min-992px-page-boxed-page-container-bg-color:              		$sidebar-menu-devider-border-color !default;
$for-min-992px-page-boxed-bg-color:                             		darken($bg-color, 3%) !default;
$for-min-992px-page-boxed-sidebar-fixed-border-color:           		$sidebar-menu-devider-border-color !default;
