
// order of .scss definitions/files

//--- start of base file: << imports _{name}.scss files >> exports 1 {name}.scss file that will be processed to {name}.css
@import "base";

// Fonts
@import url($web-font);
@import "../plugins/font-awesome/scss/font-awesome";

// 7.0 VENDOR styles
@import "../plugins/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "../plugins/bootstrap-material-design/sass/ripples";

.ripple {
    background-color: rgba(0, 0, 0, 0.25) !important;
}
form:not(.form-material) {
    @import "vendor/uniform";
}
@import "vendor/bootbox";

@import "vendor/datepicker3";
@import "vendor/bootstrap-switch";
@import "vendor/bootstrap-select";
@import "vendor/bootstrap-gtreetable";
@import "vendor/jquery-impromptu";
@import "vendor/toastr";


@import "components";

@import 'SassyJSON';


$jsonmap : (
    breakpoints: (

        screen-xs-min: $screen-xs-min,
        screen-sm-min: $screen-sm-min,
        screen-md-min: $screen-md-min,
        screen-lg-min: $screen-lg-min,
        screen-lg-med: $screen-lg-med,
        screen-xs-max: $screen-xs-max,
        screen-sm-max: $screen-sm-max,
        screen-md-max: $screen-md-max
    )
);



@include json-encode($jsonmap);

//--- end of base file
