@import "base";

// dependant vendor styles
//---------
@import "compass/reset";

// Fonts
@import url($web-font);
@import "../plugins/font-awesome/scss/font-awesome";
@import "../plugins/bootstrap-sass-official/assets/stylesheets/bootstrap";



// layout
//---------
@import "layout/header";
@import "layout/page-container";
@import "layout/sidebar";
@import "layout/content";
@import "layout/footer";



// components
//---------
@import "components/type";
@import "components/buttons";
@import "components/labels";
@import "components/tabs";

@import "components/box";
@import "components/scrollbar";
@import "components/popover";
@import "components/tables";
@import "components/modals";
@import "components/color-variants";

@import "vendor/bootbox";
@import "vendor/bootstrap-select";
@import "vendor/bootstrap-gtreetable";
@import "vendor/jquery-impromptu";
// vendor
//---------

// themes
//---------
@import "theme/layout"; // theme the layout
// theme the components
// theme the vendor


// utility classes
//---------
@import "utilities/positioning";
@import "utilities/shadows";
@import "utilities/bevelgloss";
@import "utilities/effects";



@import 'SassyJSON';


$jsonmap : (
    breakpoints: (

        screen-xs-min: $screen-xs-min,
        screen-sm-min: $screen-sm-min,
        screen-md-min: $screen-md-min,
        screen-lg-min: $screen-lg-min,
        screen-lg-med: $screen-lg-med,
        screen-xs-max: $screen-xs-max,
        screen-sm-max: $screen-sm-max,
        screen-md-max: $screen-md-max
    )
);



@include json-encode($jsonmap);
