@import "base";

@import "layout/sidemenu";

.navbar-topmenu {
    margin-bottom: 0;
}

.sidemenu {
    // Other sidemenu styles located in components/sidemenu
    display: block;
    float: left;
    width: 250px;
    background: #333;
}

.content {
    display: block;
    overflow: hidden;
    width: auto;
}
