mixin form-light-line(large)
    - large = typeof(large) == 'undefined' ? true : large
    .line.line-dashed.b-b.pull-in(class=large ? 'line-lg' : '')

// SWITCHES
.form-group
    label.col-sm-3.control-label(for='inputEmail3') Switches
    .col-sm-9
        input(type='checkbox', data-size="small", data-on-color="warning",  checked).switch
        input(type='checkbox', data-size="small").switch
        input(type='checkbox', data-size="small", data-on-color="info",  checked).switch
        input(type='checkbox', data-size="small").switch
+form-light-line
.form-group
    label.col-sm-3.control-label(for='inputEmail3') Alterered switches
    .col-sm-9.mid-padding-top.mid-padding-bottom
        input(type='checkbox', data-size="mini", data-on-color="danger", data-on-text="Yes", data-off-text="Ohhhh", checked).switch
        input(type='checkbox', data-size="mini", data-off-text=":(").switch
        input(type='checkbox', data-size="mini", data-off-text="YAY",  data-on-color="success",  checked).switch
        input(type='checkbox', data-size="mini", data-off-text="NO").switch
// SELECT 2
+form-light-line
.form-group
    label.col-sm-3.control-label Select2
    .col-sm-9
        select.form-control.select2
            option(value='default') Default
            option(value='agent') Agent
            option(value='aristo') Aristo
            option(value='jeans') Jeans
+form-light-line
.form-group
    label.col-sm-3.control-label Tags
    .col-sm-9
        input(name="test").form-control.form-demo-select2-tags

// BS DATEPICKER
+form-light-line
.form-group
    label.col-sm-3.control-label Datepicker
    .col-sm-9
        input(name="datepicker").form-control.form-demo-datepicker-input
+form-light-line
.form-group
    label.col-sm-3.control-label Datepicker inline
    .col-sm-9
        .form-demo-datepicker-inline

// BS SELECT
+form-light-line
.form-group
    label.col-sm-3.control-label BS Select
    .col-sm-9
        select.form-control.selectpicker
            option(value='default') Default
            option(value='agent') Agent
            option(value='aristo') Aristo
            option(value='jeans') Jeans
+form-light-line
.form-group
    label.col-sm-3.control-label BS Multiselect
    .col-sm-9
        select.form-control.selectpicker(multiple='', data-selected-text-format='count')
            option Mustard
            option Ketchup
            option Relish
+form-light-line
.form-group
    label.col-sm-3.control-label BS Select Groups
    .col-sm-9
        select.form-control.selectpicker
            optgroup(label='Picnic', disabled='')
                option Mustard
                option Ketchup
                option Relish
            optgroup(label='Camping')
                option Tent
                option Flashlight
                option Toilet Paper
+form-light-line
.form-group
    label.col-sm-3.control-label BS Select Labels
    .col-sm-9
        select.form-control.selectpicker
            option(data-content="<span class='label label-warning'>Mustard</span>") Mustard
            option(data-content="<span class='label label-danger label-important'>Ketchup</span>") Ketchup
            option(data-content="<span class='label label-success'>Relish</span>") Relish
            option(data-content="<span class='label label-info'>Mayonnaise</span>") Mayonnaise
+form-light-line
.form-group
    label.col-sm-3.control-label BS Select Icons
    .col-sm-9
        select.form-control.selectpicker
            option(data-content="<i class='fa fa-bold'></i> Mustard") Mustard
            option(data-content="<i class='fa fa-github'></i> Ketchup") Ketchup
            option(data-content="<i class='fa fa-legal'></i> Relish") Relish
            option(data-content="<i class='fa fa-info'></i> Mayonnaise") Mayonnaise

+form-light-line
.form-group
    label.col-sm-3.control-label Max length
    .col-sm-9
        input(name="maxlen", class="form-demo-maxlength", maxlength="20", value="Type..").form-control

