extends elements


block header
    +page-title("Forms", "Validation")
    +page-breadcrumbs
        +breadcrumb("Components", "/components")
        +breadcrumb("Forms")
        +breadcrumb("Validation", "/components/forms/validation", true)


block content

    .row#demo-forms
        .col-md-12
            +form-box("Default", "list").form-light.form-horizontal.validate-form
                +form-horizontal-demo-content('', true)


block append scripts-outside-of-project
    //script.
        App.when('state:starting', ['jquery', 'plugins/jquery-validate'], function ($) {
            var form = $('#validate-form');

        });
