extends ../../../layouts/default


block header
    +page-title("Forms", "Wizard")
    +page-breadcrumbs
        +breadcrumb("Components", "/components")
        +breadcrumb("Forms")
        +breadcrumb("Wizard", "/components/forms/wizard", true)


block content

    .row#demo-forms-wizard
        .col-md-12
            +box('Wizard', 'magic')
                #rootwizard
                    .navbar: .navbar-inner: .container: ul
                        li: a(href='#tab1', data-toggle='tab') First
                        li: a(href='#tab2', data-toggle='tab') Second
                        li: a(href='#tab3', data-toggle='tab') Third
                        li: a(href='#tab4', data-toggle='tab') Forth
                        li: a(href='#tab5', data-toggle='tab') Fifth
                        li: a(href='#tab6', data-toggle='tab') Sixth
                        li: a(href='#tab7', data-toggle='tab') Seventh

                    #bar.progress.progress-striped.active
                        .bar
                    .tab-content
                        #tab1.tab-pane
                            | 1
                        #tab2.tab-pane
                            p
                                input#name(type='text', name='name', placeholder='Enter Your Name')
                        #tab3.tab-pane
                            | 3
                        #tab4.tab-pane
                            | 4
                        #tab5.tab-pane
                            | 5
                        #tab6.tab-pane
                            | 6
                        #tab7.tab-pane
                            | 7
                        ul.pager.wizard
                            li.previous.first(style='display:none;')
                                a(href='#') First
                            li.previous
                                a(href='#') Previous
                            li.next.last(style='display:none;')
                                a(href='#') Last
                            li.next
                                a(href='#') Next
