svg#svg2(xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:cc='http://creativecommons.org/ns#', xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:svg='http://www.w3.org/2000/svg', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', width='210.4995', height='46.816002')
    defs#defs4
        lineargradient#linearGradient3770
            stop#stop3772(style='stop-color:#263bff;stop-opacity:1', offset='0')
            stop#stop3774(style='stop-color:#6969ff;stop-opacity:0', offset='1')
        filter#filter2994(color-interpolation-filters='sRGB')
            fegaussianblur#feGaussianBlur2996(result='result91', stddeviation='1 0.5')
                fecomposite#feComposite2998(in2='result91', operator='over', result='result92')
        lineargradient#linearGradient5226(x1='429.15414', y1='22.138876', x2='596.4892', y2='217.09831', xlink:href='#linearGradient3770', gradientunits='userSpaceOnUse')
    metadata#metadata7
        rdf:rdf
            cc:work(rdf:about='')
                dc:format image/svg+xml
                dc:type(rdf:resource='http://purl.org/dc/dcmitype/StillImage')
                    dc:title
    g#layer1(transform='translate(-396.46026,-52.26896)')
        text#text2997(x='410.12189', y='90.69696', xml:space='preserve', style='font-size:40px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:url(#linearGradient5226);fill-opacity:1;stroke:none;filter:url(#filter2994);font-family:Montserrat;-inkscape-font-specification:Montserrat')
            tspan#tspan2999(x='410.12189', y='90.69696', style='fill:url(#linearGradient5226);fill-opacity:1;stroke:none') Packadic
    g#layer2(transform='translate(-396.46026,-52.26896)')
