svg#svg2(xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 192.43 43.655', version='1.1', xmlns:cc='http://creativecommons.org/ns#', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:dc='http://purl.org/dc/elements/1.1/')
    defs#defs4
        filter#filter2994(color-interpolation-filters='sRGB')
            fegaussianblur#feGaussianBlur2996(stddeviation='0.01 0.01', result='result91')
                fecomposite#feComposite2998(operator='over', in2='result91', result='result92')
        lineargradient#linearGradient5226(y2='217.1', gradientunits='userSpaceOnUse', x2='596.49', y1='22.139', x1='429.15')
            stop#stop5448(stop-color='#58595b', offset='0')
            stop#stop5450(stop-color='#6969ff', stop-opacity='0', offset='1')
    metadata#metadata7
        rdf:rdf
            cc:work(rdf:about='')
                dc:format image/svg+xml
                dc:type(rdf:resource='http://purl.org/dc/dcmitype/StillImage')
                    dc:title
    g#layer1(transform='translate(-396.51742,-55.419919)')
        text#text2997(style='letter-spacing:0px;word-spacing:0px;', font-weight='normal', xml:space='preserve', transform='matrix(0.92561676,0,0,0.92561676,28.339413,7.1995765)', filter='url(#filter2994)', font-stretch='normal', line-height='125%', font-size='40px', font-variant='normal', y='90.69696', x='410.12189', font-family='Montserrat', font-style='normal', fill='url(#linearGradient5226)')
            tspan#tspan2999(y='90.69696', x='410.12189', fill='url(#linearGradient5226)') Packadic
