include ../base
// [if lt IE 9] <!
// build:js /assets/oldieshim.js
+js-vendor('respond/dest/respond.min.js')
+js-vendor('excanvas/excanvas.js')
// endbuild
// [endif]

// build:js /assets/vendor.js
+js-vendor('jquery/dist/jquery.js')
+js-vendor('modernizr/modernizr.js')
+js-vendor('jquery-migrate/jquery-migrate.min.js')
+js-vendor('jquery-ui/jquery-ui.min.js')
+js-vendor('bootstrap/dist/js/bootstrap.min.js')
+js-vendor('lodash/lodash.min.js')
+js-vendor('moment/min/moment.min.js')
+js-vendor('jquery.uniform/jquery.uniform.min.js')
+js-vendor('bootbox/bootbox.js')
+js-vendor('toastr/toastr.js')
+js-vendor('async-each/index.js')
+js-vendor('async-waterfall/index.js')
+js-vendor('eventemitter2/lib/eventemitter2.js')
+js-vendor('jade/runtime.js')
// endbuild

// build:js /assets/scripts.js
+js-script('theme.js')
// endbuild
script.
    $(document).ready(function (){
        var site = !{site_json};
        console.log(site);
        var packadic = Packadic.init({
            data: {
                author    : site.data.author,
                main      : site.data.main,
                navigation: site.data.navigation,
                social    : site.data.social,
                widgets   : site.data.widgets
            }
        });

    });
