include ../base

// build:js /assets/tpls.js
+js-tpls('sidemenu.js')
// endbuild

// build:js /assets/scripts.js
+js-script('theme.js')
// endbuild
script.
    $(document).ready(function(){
        var site = !{site_json};
        console.log(site);
        var packadic = Packadic.init({
            site: site

        });

    });
