include ../base
link(href="/assets/styles/core.css", type="text/css", rel="stylesheet")
link(href="/assets/styles/vendor.css", type="text/css", rel="stylesheet")
link(href="/assets/styles/components.css", type="text/css", rel="stylesheet")
link(href="/assets/styles/layout.css", type="text/css", rel="stylesheet")
