include ../base
nav.navbar.navbar-default.navbar-static-top.navbar-inverse.navbar-topmenu(role='navigation')
    .container-fluid
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/')= site.name
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul#topmenu.nav.navbar-nav


            ul.nav.navbar-nav.pull-right
                li
                    a(href="#") Test
.clearfix

