/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
/**
Mixins for layout/*.scss files
Depends on: theme-variables
**/
/* Header search bar, toggler button & top menu */
section#top.navbar {
  background: url("../../images/bg/content_bg_3.png") repeat;
  -webkit-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.5) !important;
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.5) !important;
  /* Header seaech box */
  /* Toggler button for sidebar expand/collapse and responsive sidebar menu */ }
  section#top.navbar .search-form {
    background: #3a3a3a; }
    section#top.navbar .search-form:hover {
      background: #777777; }
    section#top.navbar .search-form .input-group .form-control {
      color: #999999; }
      section#top.navbar .search-form .input-group .form-control::-moz-placeholder {
        color: #969696;
        opacity: 1; }
      section#top.navbar .search-form .input-group .form-control:-ms-input-placeholder {
        color: #969696; }
      section#top.navbar .search-form .input-group .form-control::-webkit-input-placeholder {
        color: #969696; }
    section#top.navbar .search-form .input-group .input-group-btn .btn.submit > i {
      color: #999999; }
    section#top.navbar .search-form.open {
      background: #777777; }
  section#top.navbar .menu-toggler {
    background-image: url('../../../../dev/assets/images/sidebar_toggler_icon_default.png?1424354569'); }
    section#top.navbar .menu-toggler.sidebar-toggler {
      background: #222222; }
      section#top.navbar .menu-toggler.sidebar-toggler > i.fa {
        color: #33336E; }
      section#top.navbar .menu-toggler.sidebar-toggler:hover {
        background-color: #333333; }
        section#top.navbar .menu-toggler.sidebar-toggler:hover > i.fa {
          color: #5656b1; }

/* Default Horizontal Menu */
/* Page sidebar */
.sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover,
.sidebar-nav {
  background-color: #3d3d3d;
  /* Default sidebar */
  /* light sidebar */
  /* Sidebar search */ }
  .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu,
  .sidebar-nav .sidebar-nav-menu {
    /* 1st level links */
    /* All links */ }
    .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li > a,
    .sidebar-nav .sidebar-nav-menu > li > a {
      border-top: 1px solid #484848;
      color: #d9d9d9;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjIyMjIyIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzMzMzMzIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 0% 50%, 45 50%, color-stop(100%, #222222), color-stop(100%, #333333));
      background-image: -moz-linear-gradient(left, #222222 45px, #333333 45px);
      background-image: -webkit-linear-gradient(left, #222222 45px, #333333 45px);
      background-image: linear-gradient(to right, #222222 45px, #333333 45px);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF222222', endColorstr='#FF333333', GradientType=1); }
      .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li > a > i,
      .sidebar-nav .sidebar-nav-menu > li > a > i {
        color: #888888; }
      .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li > a > i[class^="icon-"],
      .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li > a > i[class*="icon-"],
      .sidebar-nav .sidebar-nav-menu > li > a > i[class^="icon-"],
      .sidebar-nav .sidebar-nav-menu > li > a > i[class*="icon-"] {
        color: #959595; }
      .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li > a > .arrow:before, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li > a > .arrow.open:before,
      .sidebar-nav .sidebar-nav-menu > li > a > .arrow:before,
      .sidebar-nav .sidebar-nav-menu > li > a > .arrow.open:before {
        color: #777777; }
    .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li.heading > h3,
    .sidebar-nav .sidebar-nav-menu > li.heading > h3 {
      color: #9e9e9e; }
    .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li:hover > a, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li.open > a,
    .sidebar-nav .sidebar-nav-menu > li:hover > a,
    .sidebar-nav .sidebar-nav-menu > li.open > a {
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzMzMzZlIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjIyMjIyIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 0% 50%, 45 50%, color-stop(100%, #33336e), color-stop(100%, #222222));
      background-image: -moz-linear-gradient(left, #33336e 45px, #222222 45px);
      background-image: -webkit-linear-gradient(left, #33336e 45px, #222222 45px);
      background-image: linear-gradient(to right, #33336e 45px, #222222 45px);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF33336E', endColorstr='#FF222222', GradientType=1);
      color: #d9d9d9; }
      .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li:hover > a > i, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li.open > a > i,
      .sidebar-nav .sidebar-nav-menu > li:hover > a > i,
      .sidebar-nav .sidebar-nav-menu > li.open > a > i {
        color: #888888; }
      .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li:hover > a > .arrow:before, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li:hover > a > .arrow.open:before, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li.open > a > .arrow:before, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li.open > a > .arrow.open:before,
      .sidebar-nav .sidebar-nav-menu > li:hover > a > .arrow:before,
      .sidebar-nav .sidebar-nav-menu > li:hover > a > .arrow.open:before,
      .sidebar-nav .sidebar-nav-menu > li.open > a > .arrow:before,
      .sidebar-nav .sidebar-nav-menu > li.open > a > .arrow.open:before {
        color: #888888; }
    .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li.open > a,
    .sidebar-nav .sidebar-nav-menu > li.open > a {
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzMzMzZlIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzMzMzMzIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 0% 50%, 45 50%, color-stop(100%, #33336e), color-stop(100%, #333333));
      background-image: -moz-linear-gradient(left, #33336e 45px, #333333 45px);
      background-image: -webkit-linear-gradient(left, #33336e 45px, #333333 45px);
      background-image: linear-gradient(to right, #33336e 45px, #333333 45px);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF33336E', endColorstr='#FF333333', GradientType=1); }
    .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li.active > a, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li.active.open > a,
    .sidebar-nav .sidebar-nav-menu > li.active > a,
    .sidebar-nav .sidebar-nav-menu > li.active.open > a {
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzMzMzZlIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzMzMzMzIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 0% 50%, 45 50%, color-stop(100%, #33336e), color-stop(100%, #333333));
      background-image: -moz-linear-gradient(left, #33336e 45px, #333333 45px);
      background-image: -webkit-linear-gradient(left, #33336e 45px, #333333 45px);
      background-image: linear-gradient(to right, #33336e 45px, #333333 45px);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF33336E', endColorstr='#FF333333', GradientType=1);
      border-top-color: transparent;
      color: #ffffff; }
      .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li.active > a:hover, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li.active.open > a:hover,
      .sidebar-nav .sidebar-nav-menu > li.active > a:hover,
      .sidebar-nav .sidebar-nav-menu > li.active.open > a:hover {
        background: #33336E; }
      .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li.active > a > i, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li.active.open > a > i,
      .sidebar-nav .sidebar-nav-menu > li.active > a > i,
      .sidebar-nav .sidebar-nav-menu > li.active.open > a > i {
        color: #ffffff; }
      .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li.active > a > .arrow:before, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li.active > a > .arrow.open:before, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li.active.open > a > .arrow:before, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li.active.open > a > .arrow.open:before,
      .sidebar-nav .sidebar-nav-menu > li.active > a > .arrow:before,
      .sidebar-nav .sidebar-nav-menu > li.active > a > .arrow.open:before,
      .sidebar-nav .sidebar-nav-menu > li.active.open > a > .arrow:before,
      .sidebar-nav .sidebar-nav-menu > li.active.open > a > .arrow.open:before {
        color: #33336E; }
    .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li.active + li > a,
    .sidebar-nav .sidebar-nav-menu > li.active + li > a {
      border-top-color: transparent; }
    .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li.active.open + li > a,
    .sidebar-nav .sidebar-nav-menu > li.active.open + li > a {
      border-top-color: #484848; }
    .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu > li:last-child > a,
    .sidebar-nav .sidebar-nav-menu > li:last-child > a {
      border-bottom: 1px solid transparent !important; }
    .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu li > a > .arrow:before, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu li > a > .arrow.open:before,
    .sidebar-nav .sidebar-nav-menu li > a > .arrow:before,
    .sidebar-nav .sidebar-nav-menu li > a > .arrow.open:before {
      color: #777777; }
    .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu li:hover > a > .arrow:before, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu li:hover > a > .arrow.open:before,
    .sidebar-nav .sidebar-nav-menu li:hover > a > .arrow:before,
    .sidebar-nav .sidebar-nav-menu li:hover > a > .arrow.open:before {
      color: #888888; }
    .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu li.active > a > .arrow:before, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu li.active > a > .arrow.open:before,
    .sidebar-nav .sidebar-nav-menu li.active > a > .arrow:before,
    .sidebar-nav .sidebar-nav-menu li.active > a > .arrow.open:before {
      color: #33336E; }
    .sidebar-nav-closed .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu:hover .sub-menu, .sidebar-nav-closed
    .sidebar-nav .sidebar-nav-menu:hover .sub-menu {
      background-color: #3d3d3d; }
    .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu .sub-menu > li,
    .sidebar-nav .sidebar-nav-menu .sub-menu > li {
      border-top: 1px solid #333333; }
      .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu .sub-menu > li > a,
      .sidebar-nav .sidebar-nav-menu .sub-menu > li > a {
        color: #bdbdbd;
        background: linear-gradient(to right, #333333 45px, #3d3d3d 45px) repeat-x; }
        .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu .sub-menu > li > a > i,
        .sidebar-nav .sidebar-nav-menu .sub-menu > li > a > i {
          color: #777777; }
        .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu .sub-menu > li > a > i[class^="icon-"],
        .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu .sub-menu > li > a > i[class*="icon-"],
        .sidebar-nav .sidebar-nav-menu .sub-menu > li > a > i[class^="icon-"],
        .sidebar-nav .sidebar-nav-menu .sub-menu > li > a > i[class*="icon-"] {
          color: #959595; }
        .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu .sub-menu > li > a > .arrow:before, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu .sub-menu > li > a > .arrow.open:before,
        .sidebar-nav .sidebar-nav-menu .sub-menu > li > a > .arrow:before,
        .sidebar-nav .sidebar-nav-menu .sub-menu > li > a > .arrow.open:before {
          color: #777777; }
      .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu .sub-menu > li:hover > a, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu .sub-menu > li.open:not(.active) > a,
      .sidebar-nav .sidebar-nav-menu .sub-menu > li:hover > a,
      .sidebar-nav .sidebar-nav-menu .sub-menu > li.open:not(.active) > a {
        background: linear-gradient(to right, #333333 35px, #242424 35px, #242424 45px, #474747 45px) repeat-x; }
      .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu .sub-menu > li.active > a,
      .sidebar-nav .sidebar-nav-menu .sub-menu > li.active > a {
        background: linear-gradient(to right, #33336e 45px, #242424 35px, #242424 35px, #242424 55px, #242424 55px, #474747 55px) repeat-x; }
      .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu .sub-menu > li:hover > a > i, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu .sub-menu > li.open > a > i, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu .sub-menu > li.active > a > i,
      .sidebar-nav .sidebar-nav-menu .sub-menu > li:hover > a > i,
      .sidebar-nav .sidebar-nav-menu .sub-menu > li.open > a > i,
      .sidebar-nav .sidebar-nav-menu .sub-menu > li.active > a > i {
        color: #888888;
        color: #bbbbbb; }
      .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu .sub-menu > li:hover > a > .arrow:before, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu .sub-menu > li:hover > a > .arrow.open:before, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu .sub-menu > li.open > a > .arrow:before, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu .sub-menu > li.open > a > .arrow.open:before, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu .sub-menu > li.active > a > .arrow:before, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu .sub-menu > li.active > a > .arrow.open:before,
      .sidebar-nav .sidebar-nav-menu .sub-menu > li:hover > a > .arrow:before,
      .sidebar-nav .sidebar-nav-menu .sub-menu > li:hover > a > .arrow.open:before,
      .sidebar-nav .sidebar-nav-menu .sub-menu > li.open > a > .arrow:before,
      .sidebar-nav .sidebar-nav-menu .sub-menu > li.open > a > .arrow.open:before,
      .sidebar-nav .sidebar-nav-menu .sub-menu > li.active > a > .arrow:before,
      .sidebar-nav .sidebar-nav-menu .sub-menu > li.active > a > .arrow.open:before {
        color: #888888; }
  .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu.sidebar-nav-menu-light,
  .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light {
    /* 1st level links */ }
    .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu.sidebar-nav-menu-light > li:hover > a, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu.sidebar-nav-menu-light > li.open > a,
    .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li:hover > a,
    .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li.open > a {
      background: #424242; }
    .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu.sidebar-nav-menu-light > li.active > a, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu.sidebar-nav-menu-light > li.active.open > a,
    .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li.active > a,
    .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li.active.open > a {
      background: #474747;
      border-left: 4px solid #33336E;
      color: #f1f1f1; }
      .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu.sidebar-nav-menu-light > li.active > a:hover, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu.sidebar-nav-menu-light > li.active.open > a:hover,
      .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li.active > a:hover,
      .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li.active.open > a:hover {
        border-left: 4px solid #33336E;
        background: #424242; }
      .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu.sidebar-nav-menu-light > li.active > a > i, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu.sidebar-nav-menu-light > li.active.open > a > i,
      .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li.active > a > i,
      .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li.active.open > a > i {
        color: #eeeeee; }
      .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu.sidebar-nav-menu-light > li.active > a > .arrow:before, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu.sidebar-nav-menu-light > li.active > a > .arrow.open:before, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu.sidebar-nav-menu-light > li.active.open > a > .arrow:before, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu.sidebar-nav-menu-light > li.active.open > a > .arrow.open:before,
      .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li.active > a > .arrow:before,
      .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li.active > a > .arrow.open:before,
      .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li.active.open > a > .arrow:before,
      .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li.active.open > a > .arrow.open:before {
        color: #eeeeee; }
    .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu.sidebar-nav-menu-light > li .sub-menu,
    .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li .sub-menu {
      background: #424242; }
      .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu.sidebar-nav-menu-light > li .sub-menu > li:hover > a, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu.sidebar-nav-menu-light > li .sub-menu > li.open > a, .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-nav-menu.sidebar-nav-menu-light > li .sub-menu > li.active > a,
      .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li .sub-menu > li:hover > a,
      .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li .sub-menu > li.open > a,
      .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li .sub-menu > li.active > a {
        background: #474747 !important; }
  .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-toggler,
  .sidebar-nav .sidebar-toggler {
    background: url('../../../../dev/assets/images/sidebar_inline_toggler_icon_default.jpg?1424354569'); }
  .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-search .input-group,
  .sidebar-nav .sidebar-search .input-group {
    border-bottom: 1px solid #484848; }
    .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-search .input-group .form-control,
    .sidebar-nav .sidebar-search .input-group .form-control {
      background-color: #3d3d3d;
      color: #5c5c5c; }
      .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-search .input-group .form-control::-moz-placeholder,
      .sidebar-nav .sidebar-search .input-group .form-control::-moz-placeholder {
        color: #5c5c5c;
        opacity: 1; }
      .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-search .input-group .form-control:-ms-input-placeholder,
      .sidebar-nav .sidebar-search .input-group .form-control:-ms-input-placeholder {
        color: #5c5c5c; }
      .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-search .input-group .form-control::-webkit-input-placeholder,
      .sidebar-nav .sidebar-search .input-group .form-control::-webkit-input-placeholder {
        color: #5c5c5c; }
    .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-search .input-group .input-group-btn .btn > i,
    .sidebar-nav .sidebar-search .input-group .input-group-btn .btn > i {
      color: #5c5c5c; }
  .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-search.sidebar-search-bordered .input-group,
  .sidebar-nav .sidebar-search.sidebar-search-bordered .input-group {
    border: 1px solid #484848; }
  .sidebar-nav-closed .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-search.open .input-group, .sidebar-nav-closed
  .sidebar-nav .sidebar-search.open .input-group {
    background-color: #3d3d3d; }
  .sidebar-nav-closed .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-search.open .remove > i, .sidebar-nav-closed
  .sidebar-nav .sidebar-search.open .remove > i {
    color: #5c5c5c; }
  .sidebar-nav-closed .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-search.sidebar-search-solid .input-group, .sidebar-nav-closed
  .sidebar-nav .sidebar-search.sidebar-search-solid .input-group {
    background: none; }
  .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-search.sidebar-search-solid .input-group,
  .sidebar-nav .sidebar-search.sidebar-search-solid .input-group {
    border: 1px solid #303030;
    background: #303030; }
    .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-search.sidebar-search-solid .input-group .form-control,
    .sidebar-nav .sidebar-search.sidebar-search-solid .input-group .form-control {
      background: #303030; }
  .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-search.sidebar-search-solid.open .input-group,
  .sidebar-nav .sidebar-search.sidebar-search-solid.open .input-group {
    border: 1px solid #3d3d3d;
    background: #3d3d3d; }
    .sidebar-nav-closed.sidebar-nav-fixed .sidebar-nav:hover .sidebar-search.sidebar-search-solid.open .input-group .form-control,
    .sidebar-nav .sidebar-search.sidebar-search-solid.open .input-group .form-control {
      background: #3d3d3d; }

.sidebar-nav-reversed .sidebar-nav-menu.sidebar-nav-menu-light {
  /* 1st level links */ }
  .sidebar-nav-reversed .sidebar-nav-menu.sidebar-nav-menu-light > li.active > a, .sidebar-nav-reversed .sidebar-nav-menu.sidebar-nav-menu-light > li.active.open > a {
    border-left: 0;
    border-right: 4px solid #33336E; }
    .sidebar-nav-reversed .sidebar-nav-menu.sidebar-nav-menu-light > li.active > a:hover, .sidebar-nav-reversed .sidebar-nav-menu.sidebar-nav-menu-light > li.active.open > a:hover {
      border-left: 0;
      border-right: 4px solid #33336E; }

section#bottom footer.bottom {
  color: #a3a3a3; }
section#bottom-fixed section#bottom {
  background-color: #2b2b2b; }

@media (min-width: 992px) {
  /* 992px */
  /* Sidebar menu closed */
  .sidebar-nav-menu.sidebar-nav-menu-hover-submenu > li:hover > .sub-menu {
    box-shadow: 5px 5px rgba(48, 48, 48, 0.2); }
    .sidebar-nav-menu.sidebar-nav-menu-hover-submenu > li:hover > .sub-menu.sidebar-toggler-wrapper, .sidebar-nav-menu.sidebar-nav-menu-hover-submenu > li:hover > .sub-menu.sidebar-search-wrapper {
      box-shadow: none; }

  .sidebar-nav-menu.sidebar-nav-menu-closed > li:hover {
    box-shadow: 5px 5px rgba(48, 48, 48, 0.2); }
    .sidebar-nav-menu.sidebar-nav-menu-closed > li:hover.sidebar-toggler-wrapper, .sidebar-nav-menu.sidebar-nav-menu-closed > li:hover.sidebar-search-wrapper {
      box-shadow: none; }
    .sidebar-nav-menu.sidebar-nav-menu-closed > li:hover > .sub-menu {
      box-shadow: 5px 5px rgba(48, 48, 48, 0.2); }
      .sidebar-nav-menu.sidebar-nav-menu-closed > li:hover > .sub-menu.sidebar-toggler-wrapper, .sidebar-nav-menu.sidebar-nav-menu-closed > li:hover > .sub-menu.sidebar-search-wrapper {
        box-shadow: none; }

  /* Light sidebar menu */
  .sidebar-nav-menu.sidebar-nav-menu-light.sidebar-nav-menu-closed > li.heading {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid #484848 !important; }

  /* Fixed Sidebar */
  .sidebar-nav-fixed:not(section#bottom-fixed) main {
    border-bottom: 0; }
  .sidebar-nav-fixed:not(section#bottom-fixed) section#bottom {
    background-color: #fff; }
    .sidebar-nav-fixed:not(section#bottom-fixed) section#bottom footer.bottom {
      color: #333; }

  /* Boxed Layout */
  .page-boxed {
    background-color: #353535 !important;
    /* Page container */
    /* Page sidebar */
    /* Page footer */ }
    .page-boxed section#page {
      background-color: #3d3d3d;
      border-left: 1px solid #484848;
      border-bottom: 1px solid #484848; }
    .page-boxed.sidebar-nav-reversed section#page {
      border-left: 0;
      border-right: 1px solid #484848; }
    .page-boxed.sidebar-nav-fixed section#page {
      border-left: 0;
      border-bottom: 0; }
    .page-boxed.sidebar-nav-reversed.sidebar-nav-fixed section#page {
      border-left: 0;
      border-right: 0;
      border-bottom: 0; }
    .page-boxed.sidebar-nav-fixed .sidebar-nav {
      border-left: 1px solid #484848; }
    .page-boxed.sidebar-nav-reversed.sidebar-nav-fixed .sidebar-nav {
      border-right: 1px solid #484848;
      border-left: 0; }
    .page-boxed.sidebar-nav-fixedsection#bottom-fixed section#bottom {
      background-color: #353535 !important; }
      .page-boxed.sidebar-nav-fixedsection#bottom-fixed section#bottom footer.bottom {
        color: #a3a3a3; }

  /* Sidebar Menu Wirh Hoverable Submenu */
  .sidebar-nav-menu-hover-submenu li:hover a > .arrow {
    border-right: 8px solid #3a3a3a; }
    .sidebar-nav-reversed .sidebar-nav-menu-hover-submenu li:hover a > .arrow {
      border-left: 8px solid #3a3a3a; }
  .sidebar-nav-menu-hover-submenu li:hover > .sub-menu {
    background: #3a3a3a !important; } }
@media (max-width: 991px) {
  /* 991px */
  /* Page sidebar */
  .sidebar-nav {
    background-color: #2b2b2b;
    /* light sidebar */ }
    .sidebar-nav .sidebar-nav-menu > li > a {
      border-top: 1px solid #3d3d3d; }
    .sidebar-nav .sidebar-nav-menu > li:hover > a, .sidebar-nav .sidebar-nav-menu > li.open > a {
      background: #333333; }
    .sidebar-nav .sidebar-nav-menu > li:last-child > a {
      border-bottom: 0 !important; }
    .sidebar-nav .sidebar-nav-menu > li .sub-menu {
      background-color: #2b2b2b !important; }
    .sidebar-nav .sidebar-nav-menu .sidebar-search input {
      background-color: #2b2b2b !important; }
    .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light {
      /* 1st level links */ }
      .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li:hover > a, .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li.open > a {
        background: #333333; }
      .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li.active > a, .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li.active.open > a {
        background: #333333; }
        .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li.active > a:hover, .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li.active.open > a:hover {
          background: #333333; }
      .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li .sub-menu {
        background: #2b2b2b !important; }
        .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li .sub-menu > li:hover > a, .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li .sub-menu > li.open > a, .sidebar-nav .sidebar-nav-menu.sidebar-nav-menu-light > li .sub-menu > li.active > a {
          background: #333333 !important; } }
@media (max-width: 480px) {
  /* 480px */ }
/****
Body
****/
body {
  background-color: #3d3d3d; }

main {
  background: url("../../images/bg/content_bg_light_2.png") repeat;
  background-color: #fff; }

/***
Box
****/
.box {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  background: #fff;
  border-color: #e9e9e9; }
  .box header {
    color: #c3c3c3;
    background: url("../../images/bg/content_bg_2.png") repeat;
    border-bottom-color: #e9e9e9; }
    .box header h3 {
      text-shadow: 0px 1px 1px rgba(195, 195, 195, 0.18); }
