/*

Uniform Theme: Uniform Default
Version: 1.8
By: Josh Pyles
License: MIT License
---
For use with the Uniform plugin:
http://uniformjs.com/

*/

$button-height: 30px;
$button-margin-left: 13px;
$button-padding: 8px 15px 0 2px;
$button-span-height: 22px;
$checkbox-height: 19px;
$checkbox-width: 19px;
$input-padding: 3px;
$radio-height: 18px;
$radio-width: 18px;
$select-fixed-width: 190px;
$select-height: 26px;
$select-margin-left: 10px;
$select-margin-right: 25px;
$select-select-height: 22px;
$select-select-top: 2px;
$upload-action-width: 82px;
$upload-filename-margin-top: 2px;
$upload-filename-margin-bottom: 2px;
$upload-filename-margin-left: 2px;
$upload-filename-width: 85px;
$upload-filename-padding: 0 10px;
$upload-height: 28px;

$input-padding: inherit;
$upload-width: 169px;
