

// Theme Colors Settigns

// Main settings
$brand-main-color:                                               		#33336E !default;
$brand-main-font-color:													#ffffff !default;

// Body and header
$bg-color:                                                         		#3d3d3d !default;

// Content
$main-content-bg:                                                       content-bg(2, true) !default;
$main-content-bg-color:                                                 #fff !default;


// widgets
$widget-header-color:                                                   #c3c3c3 !default;

// boxes
$box-bg-color:                                                          #fff !default;
$box-border-color:                                                      #DDD !default;
$box-shadow:                                                            0 1px 1px rgba(0, 0, 0, 0.05) !default;
$box-radius:                                                            0px !default;
$box-header-text-color:                                                 #c3c3c3 !default;
$box-header-content-bg-nr:                                              2 !default;
$box-header-content-bg-light:                                           false !default;


// section#top
$section-top-bg:                                                        linear-gradient(to bottom, #414141 0%, #333 100%) !default; //content-bg(5, false) !default;
$section-top-bg-color:                                                  #333 !default;

$section-top-sidebar-menu-toggler-bg:                                   #222 !default;
$section-top-sidebar-menu-toggler-bg-hover:                             #333 !default;

$section-top-search-bg-color:                                        	transparent !default;
$section-top-search-bg-hover-color:                                  	lighten($section-top-bg-color, 2%);
$section-top-search-bg-color-on-open:                                   $section-top-search-bg-hover-color !default;
$section-top-search-font-color:                                      	#999999 !default;
$section-top-search-placeholder-font-color:                          	darken($section-top-search-font-color, 1%) !default;


// Header menu
$header-menu-nav-border-left-color:                                     #4A4A4A !default;
$header-menu-nav-border-right-color:                                    #292929 !default;

$header-menu-nav-dropdown-bg-color: 								    $section-top-bg-color !default;
$header-menu-nav-dropdown-header-bg-color:							    lighten($section-top-bg-color, 2%);
$header-menu-nav-dropdown-header-font-color:			    			lighten($header-menu-nav-dropdown-header-bg-color, 50%);

$header-menu-nav-dropdown-item-font-color:				    			#888888;
$header-menu-nav-dropdown-item-border-color:			    			lighten($header-menu-nav-dropdown-bg-color, 6%);
$header-menu-nav-dropdown-item-icon-color:				    			lighten($header-menu-nav-dropdown-header-bg-color, 45%);
$header-menu-nav-dropdown-item-bg-color-on-hover:		    			lighten($header-menu-nav-dropdown-bg-color, 4%);

$header-menu-nav-dropdown-default-menu-divider:			        		$header-menu-nav-dropdown-item-border-color;
$header-menu-nav-dropdown-notification-time-bg-color:	    			darken($header-menu-nav-dropdown-bg-color, 5%);



// Sidebar menu
$sidebar-menu-divider-border-color:                             		darken(#4d4d4d, 2%) !default;

// Sidebar Menu : 1st Level
$sidebar-menu-link-bg:                                                  linear-gradient(to right, #222 45px, #333 45px) repeat-x !default;
$sidebar-menu-link-bg-hover:                                            linear-gradient(to right, $brand-main-color 45px, #333 45px) repeat-x !default;
$sidebar-menu-link-bg-active:                                           linear-gradient(to right, $brand-main-color 45px, #333 45px) repeat-x !default;

$sidebar-menu-link-color:                                               #d9d9d9 !default;
$sidebar-menu-link-color-hover:                                         #d9d9d9 !default;
$sidebar-menu-link-color-active:                                        #d9d9d9 !default;

$sidebar-menu-icon-color:                                               #bdbdbd !default;
$sidebar-menu-icon-color-hover:                                         #d9d9d9 !default;
$sidebar-menu-icon-color-active:                                        #d9d9d9 !default;

$sidebar-menu-arrow-color:                                              #bdbdbd !default;
$sidebar-menu-arrow-color-hover:                                        #bdbdbd !default;
$sidebar-menu-arrow-color-active:                                       #bdbdbd !default;

// Sidebar Menu: Submenus
$sidebar-menu-link-bg-color-on-hover:                           		#303030 !default;
$sidebar-menu-link-bg-color-on-active:                          		$brand-main-color;


$sidebar-sub-menu-divider-border-color: #333333 !default;

// sidebar-hover-sub-menu and sidebar-closed
$sidebar-sub-menu-box-shadow-color:                                     #303030 !default;


$sidebar-sub-menu-bg:        sidebar-submenu-bg(#333333, $bg-color, $sidebar-collapsed-width, right) !default;
$sidebar-sub-menu-bg-hover:  sidebar-submenu-bg-hover(#333333, #242424, lighten($bg-color, 4%), $sidebar-collapsed-width, right ) !default;
$sidebar-sub-menu-bg-active: sidebar-submenu-bg-active($brand-main-color, #242424, #242424, lighten($bg-color, 4%), $sidebar-collapsed-width,  right ) !default;

$sidebar-sub-menu-link-color:                         		            #bdbdbd !default;
$sidebar-sub-menu-link-color-hover:                         		    #bdbdbd !default;
$sidebar-sub-menu-link-color-active:                         		    #bdbdbd !default;

$sidebar-sub-menu-icon-color:                    		                $sidebar-menu-icon-color !default;
$sidebar-sub-menu-icon-color-hover:                                     $sidebar-menu-icon-color-hover !default;
$sidebar-sub-menu-icon-color-active:                                    $sidebar-menu-icon-color-active !default;

$sidebar-sub-menu-arrow-color:                                          #bdbdbd !default;
$sidebar-sub-menu-arrow-color-hover:                                    #bdbdbd !default;
$sidebar-sub-menu-arrow-color-active:                                   #bdbdbd !default;



// Sidebar with HOVER ENABLED instead of ACCORDION
$sidebar-hover-sub-menu-bg:        $sidebar-sub-menu-bg !default;
$sidebar-hover-sub-menu-bg-hover:  linear-gradient(to right, #333 0px, #242424 0px, #242424 45px, lighten($bg-color, 4%) 45px) repeat-x !default;

$sidebar-hover-sub-menu-bg-active: $sidebar-hover-sub-menu-bg-hover;
$sidebar-hover-sub-menu-bg-color:									lighten($sidebar-menu-link-bg-color-on-hover, 4%) !default;

// Sidebar for mobile
$mobile-sidebar-menu-bg-color:                           				darken($bg-color, 7%) !default;
$mobile-sidebar-menu-link-bg-color-on-hover:             				darken($bg-color, 4%) !default;

// Sidebar search
$sidebar-search-bg-color:                                               darken($bg-color, 5%) !default;
$sidebar-search-bottom-border-color:                            		lighten($sidebar-menu-divider-border-color, 0%) !default;
$sidebar-search-full-border-color:                              		lighten($sidebar-menu-divider-border-color, 0%) !default;
$sidebar-search-input-font-color:                               		lighten($sidebar-menu-divider-border-color, 8%) !default;
$sidebar-search-input-placeholder-font-color:                   		lighten($sidebar-menu-divider-border-color, 8%) !default;

// Footer
$footer-default-font-color:                                     		lighten($bg-color, 40%) !default;
$footer-default-go-top-bg-color:                                		lighten($bg-color, 7%) !default;
$footer-default-go-top-icon-font-color:                          		lighten($bg-color, 30%) !default;
$footer-fixed-bg-color: 												darken($bg-color, 7%) !default;

$section-bottom-bg-color: rgb(57, 59, 99) !default;

$section-bottom-bg:                                                     #292929 !default; //content-bg(5, false) !default;
//Boxed layout
$for-min-992px-page-boxed-page-container-bg-color: $sidebar-menu-divider-border-color !default;
$for-min-992px-page-boxed-bg-color:                             		darken($bg-color, 3%) !default;
$for-min-992px-page-boxed-sidebar-fixed-border-color: $sidebar-menu-divider-border-color !default;
