//----------------------
// Uniform
//----------------------
$button-height: 32px;
$button-margin-left: 13px;
$button-padding: 9px 15px 0 2px;
$button-span-height: 24px;
$checkbox-height: 23px;
$checkbox-width: 23px;
$input-background: "../images/bg-input-agent.png";
$input-background-focus: "../images/bg-input-agent-focus.png";
$input-padding: 4px;
$radio-height: 23px;
$radio-width: 23px;
$select-fixed-width: 190px;
$select-height: 32px;
$select-margin-left: 12px;
$select-margin-right: 25px;
$select-select-height: 25px;
$select-select-top: 4px;
$sprite: "../images/sprite-agent.png";
$upload-action-width: 90px;
$upload-filename-margin-top: 0px;
$upload-filename-margin-bottom: 0px;
$upload-filename-margin-left: 4px;
$upload-filename-width: 76px;
$upload-filename-padding: 0 10px;
$upload-height: 32px;
$upload-width: 190px;
