
@mixin make-color-variant($name, $material-color, $depth: '500', $text-color: #fff){
    /* Button */
    .btn.#{$name} {
        @include button-variant($text-color, material-color($material-color, $depth), material-color($material-color, $depth));
    }

    /* Button Strip */
    .btn.#{$name}-stripe {
        border-left: 3px solid material-color($material-color, $depth) !important;
    }

    /* Portlet */
    @include porlet-background($name, material-color($material-color, $depth));
    @include porlet-solid($name, $text-color);
    @include porlet-box($name, material-color($material-color, $depth), $text-color);


    /* General Element */
    .bg-#{$name} {
        border-color: material-color($material-color, $depth) !important;
        background-image: none !important;
        background-color: material-color($material-color, $depth) !important;
        color: $text-color !important;
    }

    /* General Text & Icon Font Colors */
    .font-#{$name} {
        color: material-color($material-color, $depth) !important;
    }

    .progress-bar.#{$name} {
        background: material-color($material-color, $depth) !important;
        color: $text-color !important;
    }

    .widget-icon.#{$name} {
        background: material-color($material-color, $depth) !important;
        color: $text-color !important;
    }
}

@mixin packadic-color-variant($name, $text-color: #fff){
    @include make-color-variant($name + "-light", $name, '200', $text-color);
    @include make-color-variant($name,            $name, '500', $text-color);
    @include make-color-variant($name + "-dark",  $name, '900', $text-color);
}

@include packadic-color-variant("red");
@include packadic-color-variant("pink");
@include packadic-color-variant("purple");
@include packadic-color-variant("deep-purple");
@include packadic-color-variant("indigo");
@include packadic-color-variant("blue");
@include packadic-color-variant("light-blue");
@include packadic-color-variant("cyan");
@include packadic-color-variant("teal");
@include packadic-color-variant("green");
@include packadic-color-variant("light-green");
@include packadic-color-variant("lime");
@include packadic-color-variant("yellow");
@include packadic-color-variant("amber");
@include packadic-color-variant("orange");
@include packadic-color-variant("deep-orange");
@include packadic-color-variant("brown");
@include packadic-color-variant("grey");
@include packadic-color-variant("blue-grey");


/***
Transparent Button
***/

.btn-transparent.btn {
  background: transparent;
  color: #888;
}
