extends layout


block content
    each doc, index in docs
        if doc.kind === 'mainpage' || doc.kind === 'package'
            p partial mainpage
        else if doc.kind === 'source'
            p source
        else
            h2=doc.name
