@mixin box-variant($name, $header-background, $header-text-color: $box-header-text-color, $background: $box-bg-color){
    .box.box-style-#{$name}{
        background: $background;
        > header {
            color: $header-text-color;
            background: $header-background;
            h3 {
                @include text-shadow(0px 1px 1px rgba($header-text-color, 0.18));
            }
        }
        @content
    }
}

