extends ../../../layouts/default
include _helpers
block header
    +page-title("Advanced tables", "tables")
    +page-breadcrumbs
        +breadcrumb("Components")
        +breadcrumb("Tables")
        +breadcrumb("Advanced tables", "/components/tables/advanced", true)

block content
    .row
        .col-md-12
            +box("Tree", "list").box-table sdfsdf
