extends ../../../layouts/default
include _helpers
block header
    +page-title("Basic tables", "tables")
    +page-breadcrumbs
        +breadcrumb("Components")
        +breadcrumb("Tables")
        +breadcrumb("Basic tables", "/components/tables/basic", true)

block content
    .row
        .col-md-4
            +box("Basic", "list").box-table
                +demo-table

        .col-md-4
            +box("Striped rows", "list").box-table
                +demo-table.table-striped

        .col-md-4
            +box("Bordered", "list").box-table
                +demo-table.table-bordered

    .row
        .col-md-4
            +box("Hover + Condensed + Striped", "list").box-table
                +demo-table.table-hover.table-condensed.table-striped
        .col-md-4
            +box("Condensed table", "list").box-table
                +demo-table.table-condensed
        .col-md-4
            +box("Hover + Condensed + Striped + Light", "list").box-table
                +demo-table.table-hover.table-condensed.table-striped.table-light

    .row
        .col-md-6
            +box("Scroll: Hover + Striped", "list", 200).box-table
                +demo-table(true).table-hover.table-striped
        .col-md-6
            +box("Scroll: Hover + Striped + Light", "list", 200).box-table
                +demo-table(true).table-hover.table-striped.table-light

    .row
        .col-md-4
            +box("Hover + Striped", "list").box-table
                +demo-table.table-hover.table-striped
        .col-md-4
            +box("Hover + Bordered + Striped", "list").box-table
                +demo-table.table-hover.table-bordered.table-striped
        .col-md-4
            +box("Hover + Striped + Light", "list").box-table
                +demo-table.table-hover.table-striped.table-light
