extends ../../../layouts/default
include _helpers
block header
    +page-title("Basic tables", "tables")
    +page-breadcrumbs
        +breadcrumb("Components")
        +breadcrumb("Tables")
        +breadcrumb("Treetable", "/components/tables/tree", true)

block content
    .row
        .col-md-12
            +box("Tree", "list").box-table
                table#gtreetable.table.gtreetable
                    thead
                        tr
                            th Category
