
<IfModule mod_rewrite.c>


    # Make sure directory listing is disabled
	Options +FollowSymLinks -Indexes
	# disable the Apache MultiViews directive if it is enabled on the server. It plays havoc with URL rewriting
	Options -MultiViews

    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^(.*)/$ $1.html

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ $1.html

</IfModule>
