
<IfModule mod_rewrite.c>


    # Make sure directory listing is disabled
	Options +FollowSymLinks -Indexes
	# disable the Apache MultiViews directive if it is enabled on the server. It plays havoc with URL rewriting
	Options -MultiViews

    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^(.*)/$ $1.html

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ $1.html

</IfModule>
<filesMatch "\.(html|htm|js|css)$">
  FileETag None
  <ifModule mod_headers.c>
     Header unset ETag
     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
     Header set Pragma "no-cache"
     Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </ifModule>
</filesMatch>
