extends ../../layouts/default

block header
    +page-title("Boxes", "Boxes")
    +page-breadcrumbs
        +breadcrumb("Components", "/components")
        +breadcrumb("Boxes", "/components/boxes", true)

block content
    .row
        .col-lg-4
            +box("Boxes", "list", false, 'box-draggable box-removable box-closable')
                | box-draggable box-removable box-closable
        .col-lg-4
            +box("Boxes", "list", false, 'box-style-light box-draggable box-removable box-closable')
                | box-style-light box-draggable box-removable box-closable
        .col-lg-4
            +box("Boxes", "list", false, 'box-style-solid')
                | box-style-solid
    .row
        .col-lg-6
            +box("Boxes", "list", false, 'box-draggable box-removable box-closable')
                | box-draggable box-removable box-closable
        .col-lg-6
            +box("Boxes", "list")
                | Hello
