extends ../../layouts/default



mixin demo-api(mode, text)
    tr
        td
            a.btn.btn-xs.btn-block(href="#", data-api-action=mode)&attributes(attributes)
                | #{text}
        td: code=mode

block header
    +page-title("Boxes", "Boxes")
    +page-breadcrumbs
        +breadcrumb("Components", "/components")
        +breadcrumb("Boxes", "/components/boxes", true)

block content
    .row
        .col-md-8
            +box("Box API").box-table
                pre.no-border.m-n.p-xs
                    code.hljs.lang-js
                        | App.box('#selector', 'mode')
                        | App.box($('#selector'), 'mode')
                +table()('condensed', 'striped', 'light')#demo-api
                    tr
                        th(width="200") Example
                        th Mode
                    +demo-api('close', 'Close box').btn-danger
                    +demo-api('open', 'Open box').btn-danger
                    +demo-api('minimize', 'Minimize box').btn-success
                    +demo-api('maximize', 'Maximize box').btn-success
                    +demo-api('toggle', 'Toggle min/max box').btn-success
                    +demo-api('loader', 'Box loader').btn-info
                    +demo-api('loader_off', 'Stop box loader').btn-info
                    +demo-api('fullscreen', 'Fullscreen box').btn-warning
                    +demo-api('fullscreen_off', 'Exit fullscreen box').btn-warning
                    +demo-api('fullscreen_toggle', 'Toggle fullscreen box').btn-warning
        .col-lg-4
            +box#preview-box
                +box-header("Preview box")
                +box-body
                    p lorem ipsum lala
                    p lorem ipsum lala
                    p lorem ipsum lala
                    p lorem ipsum lala
                    p lorem ipsum lala
    .row
        .col-lg-12


block append scripts
    script.
        App.ready(function(){
            require(['jquery'], function($){
                $(function () {
                    var $box = $('#preview-box');
                    $('#demo-api').find('a[data-api-action]').on('click', function(e){
                        e.preventDefault();
                        App.box('#preview-box', $(this).data('api-action'));
                    });
                });
            });
        });
