
extends ../../layouts/default


block header
    +page-title("Components", "General bootstrap components")
    +page-breadcrumbs
        +breadcrumb("Components", "/components", true)

block content

    .row
        .col-md-6
            +box("Dropdowns", "info")
                .btn-toolbar.mb-xs

                    +demo-dropdown-button('Notifications', 'btn-info')('wide', 'notifications')
                        li.header: h3 Notifications
                        +demo-dropdown-notifications
                        li.footer: +a View All

                    +demo-dropdown-button('Notifications inversed', 'btn-info')('wide', 'notifications', 'inverse')
                        li.header: h3 Notifications
                        +demo-dropdown-notifications
                        li.footer: +a View All

                    +demo-dropdown-button('Notifications /w scroll', 'btn-info')('wide')
                        li.header: h3 Notifications
                        +demo-dropdown-notifications('200px')
                        li.footer: +a View All

                .btn-toolbar
                    +demo-dropdown-button('Tasks', 'btn-info')('wide', 'tasks')
                        li.header: h3 Tasks
                        +demo-dropdown-tasks
                        li.footer: +a View All
                    +demo-dropdown-button('Tasks inversed', 'btn-info')('wide', 'tasks', 'inverse')
                        li.header: h3 Tasks
                        +demo-dropdown-tasks
                        li.footer: +a View All
                    +demo-dropdown-button('Tasks /w scroll', 'btn-info')('wide')
                        li.header: h3 Tasks
                        +demo-dropdown-tasks('200px')
                        li.footer: +a View All


                .btn-toolbar.btn-toolbar-xs
                    +demo-dropdown-buttons

            .row
                .col-md-6
                    +box("Tooltips", "cog")
                        .btn-group.btn-group-justified
                            +tooltip-btn-demo('Left')
                            +tooltip-btn-demo('Right')
                            +tooltip-btn-demo('Top')
                            +tooltip-btn-demo('Bottom')
                .col-md-6
                    +box("Popovers", "cog")
                        .btn-group.btn-group-justified
                            +popover-btn-demo('Left')
                            +popover-btn-demo('Right')
                            +popover-btn-demo('Top')
                            +popover-btn-demo('Bottom')
        .col-md-3
            +box("Labels and badges", "cog", 260).box-table
                table.table.table-striped.table-hover.table-bordered.no-margin
                    thead
                        tr
                            th Class
                            th.text-center Label
                            th.text-center Badge
                    tbody
                        for state in site.data.theme.states
                            - var text = capitalizeFirst(state);
                            tr
                                td= text
                                td.text-center
                                    span.label(class="label-" + state) Default
                                td.text-center
                                    span.badge(class="badge-" + state) 5
                        for color in site.data.theme.colors
                            - var text = capitalizeFirst(color);
                            tr
                                td= text
                                td.text-center
                                    span.label(class=color) Default
                                td.text-center
                                    span.badge(class=color) 5
        .col-md-3.bs-material
            +box("List group", "list", 260)
                .list-group
                    .list-group-item
                        .row-action-primary
                            i.fa.fa-folder
                        .row-content
                            .action-secondary
                                i.mdi-material-info
                            h4.list-group-item-heading Tile with an icon
                            p.list-group-item-text Donec id elit non mi porta gravida at eget metus.
                    .list-group-separator
                    .list-group-item
                        .row-action-primary
                            i.fa.fa-folder
                        .row-content
                            .action-secondary
                                i.mdi-material-info
                            h4.list-group-item-heading Tile with an icon
                            p.list-group-item-text Maecenas sed diam eget risus varius blandit.
                    .list-group-separator
                    .list-group-item
                        .row-action-primary
                            i.fa.fa-folder
                        .row-content
                            .action-secondary
                                i.mdi-material-info
                            h4.list-group-item-heading Tile with an icon
                            p.list-group-item-text Maecenas sed diam eget risus varius blandit.
                    .list-group-separator


