include ../../base
extends ../../layouts/codeviewer
block page-header
    +page-title("Portlets", "Those things with things in it")
    +page-breadcrumbs
        +breadcrumb("Components")
        +breadcrumb("Portlets", false, true, true)
block content
    +portlet("light")
        +portlet-title("The title")
        .row
            .col-md-3
                +portlet("box green")
                    +portlet-title("The title", "github")
                    +portlet-body
                        | this is body
            .col-md-3
                +portlet()
                    +portlet-title("The title", "github")
                    +portlet-body
                        | this is body
            .col-md-3
                +portlet("box blue-grey")
                    +portlet-title("The title", "github")
                        +portlet-action("Some action", "pencil")
                    +portlet-body
                        | this is body
            .col-md-3
                +portlet("light bordered")
                    +portlet-title("The title")
                    +portlet-body
                        | this is body
        .row
            .col-md-3
                +portlet("light bg-inverse")
                    +portlet-title("The title", "github").bold.purple.uppercase
                        +portlet-action("Some action", "pencil").green
                    +portlet-body
                        | this is body
            .col-md-3
                +portlet("light")
                    +portlet-title("The title", "github").bold.uppercase
                        +portlet-action("Some action", "pencil")
                    +portlet-body
                        | this is body
            .col-md-3
                +portlet("light")
                    +portlet-title("The title", "github").bold.green
                        +portlet-action("Some action", "pencil")
                    +portlet-body
                        | this is body
            .col-md-3
                +portlet("light bordered")
                    +portlet-title("The title").bold.uppercase.font-lime
                        +portlet-action("Some action", "pencil font-yellow").btn-circle.deep-orange.btn-sm.font-yellow
                    +portlet-body
                        | this is body
