
extends ../../layouts/default
block header
    +page-title("Components", "General bootstrap components")
    +page-breadcrumbs
        +breadcrumb("Components", "/components", true)

mixin progress-bars-demo(title)
    .col-md-4
        +box(title, "cog")&attributes(attributes)
            +progressbar(0, 55, 36, 'center', '{value} of {max}')('primary')
            +progressbar(0, 355, 226)('success', 'striped', 'active')
            +progressbar(0, 75, 45, 'center', '{value} / {max}. Thats {value} of the {max} man. In percent: {percent}% of 100')('info')
            +progressbar(0, 44, 15, 'center')('warning')
            +progressbar(0, 55, 36, 'center', '{value} of {max}')('warning', 'striped')
            +progressbar(0, 355, 226)('danger')
            +progressbar(0, 75, 45, 'center', '{value} / {max}. Thats {value} of the {max} man. In percent: {percent}% of 100')
            +progressbar(0, 44, 15, 'center')
    .col-md-4
        +box(title + " striped", "cog")&attributes(attributes)
            +progressbar(0, 55, 36, 'center', '{value} of {max}')('primary')
            +progressbar(0, 355, 226)('success', 'striped', 'active')
            +progressbar(0, 75, 45, 'center', '{value} / {max}. Thats {value} of the {max} man. In percent: {percent}% of 100')('info')
            +progressbar(0, 44, 15, 'center')('warning')
            +progressbar(0, 55, 36, 'center', '{value} of {max}')('warning', 'striped')
            +progressbar(0, 355, 226)('danger')
            +progressbar(0, 75, 45, 'center', '{value} / {max}. Thats {value} of the {max} man. In percent: {percent}% of 100')
            +progressbar(0, 44, 15, 'center')
    .col-md-4
        +box(title + " animated & stacked", "cog")&attributes(attributes)
            +progressbar(0, 55, 36, 'center', '{value} of {max}')('primary')
            +progressbar(0, 355, 226)('success', 'striped', 'active')
            +progressbar(0, 75, 45, 'center', '{value} / {max}. Thats {value} of the {max} man. In percent: {percent}% of 100')('info')
            +progressbar(0, 44, 15, 'center')('warning')
            +progressbar(0, 55, 36, 'center', '{value} of {max}')('warning', 'striped')
            +progressbar(0, 355, 226)('danger')
            +progressbar(0, 75, 45, 'center', '{value} / {max}. Thats {value} of the {max} man. In percent: {percent}% of 100')
            +progressbar(0, 44, 15, 'center')

block content

    .row
        +progress-bars-demo("Progress bars")

    .row
        +progress-bars-demo("BS Materials bars").bs-material
