include ../../base
extends ../../layouts/default
block append styles
    +css-vendor('codemirror/lib/codemirror.css')
    +css-vendor('codemirror/theme/zenburn.css')

block content
    .portlet.light
        .portlet-body.container
            .row
                .col-md-12
                    .portlet.light.bordered
                        .portlet-title
                            .caption.font-lime
                                i.fa.fa-bullhorn
                                span.caption-subject.bold.uppercase  Table
                            .actions
                                a.btn.btn-primary.green Hey
                        .portlet-body
                            .container-fluid
                                .row
                                    .col-md-4
                                        +codeviewer(class="btn btn-xs green", data-height=160)
                                            :code
                                                table.table.table-bordered
                                                    thead
                                                        tr.heading
                                                            th Hai
                                                            th Bai
                                                    tbody
                                                        tr
                                                            td First
                                                            td Second
                                        .table-scrollable
                                            table.table.table-bordered
                                                thead
                                                    tr.heading
                                                        th Hai
                                                        th Bai
                                                tbody
                                                    tr
                                                        td First
                                                        td Second

                                    .col-md-4
                                        +codeviewer(class="btn btn-xs green", data-height=160)
                                            :code
                                                .table-scrollable
                                                    table.table.table.table-striped.table-hover
                                                        thead
                                                            tr
                                                                th Hai
                                                                th Bai
                                                        tbody
                                                            tr
                                                                th First
                                                                td Second
                                        .table-scrollable
                                            table.table.table-striped.table-hover
                                                thead
                                                    tr
                                                        th Hai
                                                        th Bai
                                                tbody
                                                    tr
                                                        td First
                                                        td Second

                                    .col-md-4
                                        +codeviewer(class="btn btn-xs green", data-height=160)
                                            :code
                                                .table-scrollable
                                                    table.table.table.table-striped.table-hover
                                                        thead
                                                            tr
                                                                th Hai
                                                                th Bai
                                                        tbody
                                                            tr
                                                                th First
                                                                td Second
                                        .table-scrollable
                                            table.table.table-striped.table-hover
                                                thead
                                                    tr
                                                        th Hai
                                                        th Bai
                                                tbody
                                                    tr
                                                        td First
                                                        td Second




                        .container
                           .row
                                .col-md-6
                                    .portlet
                                        .portlet-title
                                            .caption
                                                i.fa.fa-bell-o
                                                    | Table
                                            .actions
                                               a(href="#").btn.btn-sm.deep-purple View
                                        .portlet-body
                                            .table-scrollable
                                                table.table.table-striped.table-bordered.table-advance.table-hover
                                                    thead
                                                        tr
                                                            th
                                                                i.fa.fa-briefcase
                                                                |  Company
                                                            th
                                                                i.fa.fa-shopping-cart
                                                            th Labels
                                                    tbody
                                                        tr
                                                            td.highlight
                                                                a(href="#") TransEX
                                                            td &euro; 244.34

                                                            td
                                                                .label.label-info.label-xs Valid

block append vendor-scripts
    +js-vendor('codemirror/lib/codemirror.js')
    +js-vendor('codemirror/mode/jade/jade.js')
    +js-vendor('codemirror/mode/javascript/javascript.js')
