include ../../base
extends ../../layouts/default

block content
    .portlet.light
        .portlet-body
            .row
                .col-md-12
                    .tabbable-panel
                        .tabbable-line
                            ul.nav.nav-tabs
                                li.active
                                    a(href='#tab_default_1', data-toggle='tab')
                                        | Tab 1
                                li
                                    a(href='#tab_default_2', data-toggle='tab')
                                        | Tab 2
                                li
                                    a(href='#tab_default_3', data-toggle='tab')
                                        | Tab 3
                            .tab-content
                                #tab_default_1.tab-pane.active
                                    p
                                        | I'm in Tab 1.
                                    p
                                        | Duis autem eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
                                    p
                                        a.btn.btn-success(href='http://j.mp/metronictheme', target='_blank')
                                            | Learn more...
                                #tab_default_2.tab-pane
                                    p
                                        | Howdy, I'm in Tab 2.
                                    p
                                        | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                                    p
                                        a.btn.btn-warning(href='http://j.mp/metronictheme', target='_blank')
                                            | Click for more features...
                                #tab_default_3.tab-pane
                                    p
                                        | Howdy, I'm in Tab 3.
                                    p
                                        | Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
                                    p
                                        a.btn.btn-info(href='http://j.mp/metronictheme', target='_blank')
                                            | Learn more...
