extends ../../layouts/default

mixin tab-content(name)
    - var rand = Math.random(999999);
    p
        | Howdy. Rnd: #{rand}. I'm #{name}.
    p
        | Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat



mixin list-item(name, href, active)
    - href = href || '#'
    - active = active || false
    li(role="presentation", class=active ? "active" : null)
        a(href=href)=name
        block
mixin list-items()
    +list-item("Home", "#", true)
    +list-item("Item first")
    +list-item("Then this")
    +list-item("This too")


mixin demo-tabbable-sides-tablist(side)
    ul.nav.nav-tabs
        li.active: a(data-toggle='tab', href='#tabNerota' + side, aria-expanded='true')
            i.text-green.tab-icon.fa.fa-pencil-square-o
            |  Nerota
        li: a(data-toggle='tab', href='#tabDomesticus' + side, aria-expanded='false')
            i.text-purple.tab-icon.fa.fa-cog
            |  Domesticus
        li: a(data-toggle='tab', href='#tabSkiffjack' + side, aria-expanded='false')
            i.text-blue.tab-icon.fa.fa-key
            |  Skiffjack
block content
    .content-tabbed
        ul(role="tablist").nav.nav-tabs.nav-tabs-content
            li(role="presentation").active
                a(href="#tabs", aria-controls="tabs", role="tab", data-toggle="tab") Tabs

            li(role="presentation")
                a(href="#navs", aria-controls="navs", role="tab", data-toggle="tab") Navs

            //
                li(role="presentation")
                    a(href="#tabs-bottom", aria-controls="tabs-bottom", role="tab", data-toggle="tab") Tabs bottom
                li(role="presentation")
                    a(href="#box-tabs-bottom", aria-controls="box-tabs-bottom", role="tab", data-toggle="tab") Boxed Tabs bottom
                li(role="presentation")
                    a(href="#navs-pane", aria-controls="navs-pane", role="tab", data-toggle="tab") Navs

        .tab-content

            #tabs(role='tabpanel').tab-pane.fade.active.in
                .row
                    .col-md-6
                        +box
                            +box-header('Box with tabs', 'bolt')
                                .actions
                                +tab-list(['Left', 'Below', 'Right'], 0)
                            +box-body.tab-content.p-n
                                for side in ['Left', 'Below', 'Right']
                                    +tab(side, (side === 'Left')).fade(class=(side === 'Left' ? 'in' : false))
                                        .tabbable.tabs-boxed(class='tabs-' + side.toLowerCase())
                                            if side != 'Below'
                                                +demo-tabbable-sides-tablist(side)
                                            .tab-content
                                                +tab('Nerota'+side, true).fade.in
                                                    h5 Nerota!
                                                    p Taste me skiff, ye undead jack!
                                                    p Grow and you will be invented agreeable.
                                                +tab('Domesticus'+side).fade
                                                    h5 Domesticus!
                                                    p All those vogons consume spheroid, apocalyptic pathways.
                                                    p Ubi est camerarius nuptia?
                                                +tab('Skiffjack'+side).fade
                                                    h5 Skiffjack!
                                                    p Grow and you will be invented agreeable.
                                                    p Press nine onions, lettuce, and brown sugar in a large sauté pan over.
                                            if side == 'Below'
                                                +demo-tabbable-sides-tablist(side)

                    .col-md-6
                        .tabbable
                            ul.nav.nav-tabs
                                li.active: a(data-toggle='tab', href='#light1', aria-expanded='true')
                                    i.text-green.tab-icon.fa.fa-pencil-square-o
                                    |  Basic Info
                                li: a(data-toggle='tab', href='#light2', aria-expanded='false')
                                    i.text-purple.tab-icon.fa.fa-cog
                                    |  Settings
                                li: a(data-toggle='tab', href='#light3', aria-expanded='false')
                                    i.text-blue.tab-icon.fa.fa-key
                                    |  Password
                            .tab-content
                                #light1.tab-pane.active.fade.in
                                    p Cum eleates crescere, omnes lixaes vitare alter, camerarius fluctuses.
                                #light2.tab-pane.fade
                                    p Sagas mori, tanquam varius fluctui. Cum eleates crescere, omnes lixaes vitare alter, camerarius fluctuses.
                                #light3.tab-pane.fade
                                    p Raptus lubas ducunt ad habitio. Cum eleates crescere, omnes lixaes vitare alter, camerarius fluctuses.


            #navs(role="tabpanel").tab-pane.fade
                .row
                    .col-md-4
                        h1 navs
