extends ../../layouts/default
block header
    +page-title("Widgets", "Widgets that contain data")
    +page-breadcrumbs
        +breadcrumb("Components", "/components")
        +breadcrumb("Widgets", "/components/widgets", true)

block content
    .row
        .col-md-3
            +box.widget
                .widget-icon.red
                    i.fa.fa-list
                .widget-content
                    .title 102
                    .comment 13
                .clearfix
        .col-md-3
            +box.widget
                .widget-icon.dark-yellow
                    i.fa.fa-info
                .widget-content
                    .title 11
                    .comment Messages
                .clearfix
        .col-md-3
            +box.widget
                .widget-icon.blue
                    i.fa.fa-users
                .widget-content
                    .title 44
                    .comment Users
                .clearfix
        .col-md-3
            +box.widget
                .widget-icon.blue-grey
                    i.fa.fa-file
                .widget-content
                    .title 102
                    .comment Files uploaded
                .clearfix

