include ../base
doctype html
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if !IE]><!-->
html(lang="en")
    <!--<![endif]-->
    head
        block head
            title
                block title
                    | Hai
            +viewport
            block meta
                meta(charset="UTF-8")
                meta(http-equiv="X-UA-Compatible", content="IE=edge")
            block styles
                //+css-style("base-stylesheet.css")
                //+css-style("plugins.css")
                //+css-style("layout.css")
                //+css-style("components.css")
                //+css-style("fast.css")
                +css-style("stylesheet.css")
                +css-style("themes/theme-default.css")

    block body-tag
        body.page-loading.section-top-fixed

    block body
        #page-loader
            .loader.loader-light
        //section#top
        section#top.navbar.navbar-fixed-top
            //header.top
            header.top
                .menu-toggler.sidebar-toggler
                    i.fa.fa-long-arrow-left

                .page-logo
                    .text-logo
                        block text-logo
                            | Packadic

                block header-search-form
                    +search-form('/radic/index.html', 'POST', 'search')#search-form

                //nav.top-nav
                +a.menu-toggler.responsive-toggler(data-toggle="collapse" data-target=".navbar-collapse").btn.btn-default
                    i.fa.fa-bars.fa-lg

                .header-menu.hidden-sm.hidden-xs
                    block header-menu
                        include ../partials/header-menu
        .clearfix

        //#page
        section#page
            //section#side
            .sidebar-wrapper
                //section#side aside
                block sidebar
                    nav.sidebar-nav.navbar-collapse.collapsent
                        .loader.loader-light
                        ul.sidebar-nav-menu(data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200")

            //section#content
            .main-wrapper
                //main
                main
                    header.content
                        block header
                            +page-title("Title", "Subtitle")
                            +page-breadcrumbs
                                +breadcrumb("Buttons", false, true, true)
                    div.content
                        block content
                            .row
                                .col-md-12
                                    | contentsdf
        //section#bottom
        section#bottom
            //footer.bottom
            footer.bottom
                block footer
                    p Radicsss

        block body-end
            .settings-editor.panel.panel-default
                button.btn.btn-primary.withoutripple
                    i.fa.fa-cog
                .panel-heading Panel Editor
                .panel-body
                    div#layout-editor

        block site-data
            include ../pages/site-data

        block script

        block scripts
            +js-script('init.js')

            // The place to include custom logic, a small demo
            block scripts-outside-of-project
            +js-script('demo/outside_of_project.js')
            block scripts-pre-boot

            +js-script('boot.js')

        block after
