include ../base
extends default
block append styles
    +css-vendor('codemirror/lib/codemirror.css')
    +css-vendor('codemirror/theme/zenburn.css')

block append vendor-scripts
    +js-vendor('codemirror/lib/codemirror.js')
    +js-vendor('codemirror/mode/jade/jade.js')
    +js-vendor('codemirror/mode/javascript/javascript.js')
