include ../base
doctype html
+ie('if IE 8')
    html(lang="en").ie8.no-js
+ie('if IE 9')
    html(lang="en").ie9.no-js
+ie('if !IE')
    html(lang="en").no-js
head
    title Hai
    +viewport
    meta(charset=site.encoding)
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    block styles
        +css-style("base-stylesheet.css")
        +css-style("themes/theme-default.css")

body.page-loading.active2.section-top-fixed
    #page-loader
        .loader.loader-light
    //section#top
    section#top.navbar.navbar-fixed-top
        //header.top
        header.top
            .menu-toggler.sidebar-toggler
                i.fa.fa-long-arrow-left

            .page-logo
                +a Logo

            //nav.top-nav
            +a.menu-toggler.responsive-toggler(data-toggle="collapse" data-target=".navbar-collapse")
            .top-menu
                ul.nav.navbar-nav
    .clearfix

    //#page
    section#page
        //section#side
        .sidebar-wrapper
            //section#side aside
            nav.sidebar-nav.navbar-collapse.collapse
                .loader.loader-light
                ul.sidebar-nav-menu(data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200")

        //section#content
        .main-wrapper
            //main
            main
                header.content
                    block header
                        +page-title("Title", "Subtitle")
                        +page-breadcrumbs
                            +breadcrumb("Buttons", false, true, true)
                div.content
                    block content
                        .row
                            .col-md-12
                                | contentsdf
    //section#bottom
    section#bottom
        //footer.bottom
        footer.bottom
            block footer
                p Radicsss

    block script
        script.
            window.PACKADIC_SITE_DATA = !{site_json};

    block scripts
        +js-script('plugins/requirejs/require.js')
        +js-script('main.js')
        +js-script('init.js')
