html
    head
        title Hai
        block styles
            include ../partials/styles
    body
        block topmenu
            include ../partials/topmenu

        block sidemenu
            include ../partials/sidemenu

        block content

        block scripts
            include ../partials/scripts
