<meta charset="{{ site.encoding }}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="keywords" content="{{ site.keywords | join: ', ' }}, {% if page.tags %}{{ page.tags | join: ', ' }}{% endif %}, {% if page.keywords %}{{ page.keywords | join: ', ' }}{% endif %}">

<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>

<!-- Open Graph -->
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.title }}">

<link rel="shortcut icon" href="{{ IMGDIR }}/favicon.svg">

<!-- build:css /assets/global.css -->
<link href="/assets/styles/core.css" type="text/css" rel="stylesheet">
<link href="/assets/styles/vendor.css" type="text/css" rel="stylesheet">
<link href="/assets/styles/components.css" type="text/css" rel="stylesheet">
<link href="/assets/styles/layout.css" type="text/css" rel="stylesheet">
<!-- endbuild -->




{% if page.custom-css %}
{% for name in page.custom-css %}
<link href="/assets/{{ name }}.css" rel="stylesheet" type="text/css"/>
{% endfor %}
{% endif %}

<script src="/assets/vendor/jquery/dist/jquery.min.js" type="text/javascript"></script>
